{% load i18n %}
{% load static i18n wagtailcore_tags wagtailimages_tags %}
<div class="col-12 col-lg-6">
    <div class="row g-4" data-cues="fadeIn">
        {% for item in block.media_items %}
            {% if forloop.first %}
                <!-- Large Featured Image/Video -->
                <div class="col-12">
                    {% if item.media_type == 'video' and item.video.embed_url %}
                        <a class="lightbox-media-box border-radius-1 box-shadow icon-xl position-relative d-block"
                            href="{{ item.video.embed_url }}">
                            {% if item.image and item.image.image %}
                                {% image item.image.image fill-630x290 as featured_img %}
                                <img src="{{ featured_img.url }}" alt="{{ item.image.alternative_text }}"
                                        class="img-fluid border-radius-1 shadow w-100">
                            {% else %}
                                <img src="{% static 'assets/img/about/default-video.jpg' %}"
                                        alt="{% trans 'Video thumbnail' %}" class="img-fluid w-100 rounded-3 shadow-sm">
                            {% endif %}
                            <i class="bi bi-play position-absolute top-50 start-50 translate-middle fs-1 text-white"></i>
                        </a>
                    {% elif item.image and item.image.image %}
                        {% image item.image.image fill-630x290 as featured_img %}
                        <img src="{{ featured_img.url }}" alt="{{ item.image.alternative_text }}"
                                class="img-fluid border-radius-1 box-shadow w-100">
                    {% endif %}
                </div>
            {% else %}
                <!-- Smaller Images/Videos -->
                <div class="col-6" data-cue="fadeIn">
                    {% if item.media_type == 'video' and item.video.embed_url %}
                        <a class="lightbox-media-box border-radius-1 box-shadow icon-lg position-relative d-block"
                            href="{{ item.video.embed_url }}">
                            {% if item.image and item.image.image %}
                                {% image item.image.image fill-315x196 as small_img %}
                                <img src="{{ small_img.url }}" alt="{{ item.image.alternative_text }}"
                                        class="img-fluid border-radius-1 shadow w-100">
                            {% else %}
                                <img src="{% static 'assets/img/about/default-video.jpg' %}"
                                        alt="{% trans 'Video thumbnail' %}" class="img-fluid rounded-3 shadow-sm w-100">
                            {% endif %}
                            <i class="bi bi-play position-absolute top-50 start-50 translate-middle fs-3 text-white"></i>
                        </a>
                    {% elif item.image and item.image.image %}
                        {% image item.image.image fill-315x196 as small_img %}
                        <img src="{{ small_img.url }}" alt="{{ item.image.alternative_text }}"
                                class="img-fluid border-radius-1 box-shadow w-100">
                    {% endif %}
                </div>
            {% endif %}
        {% empty %}
            <!-- Default Fallback Images -->
            <div class="col-12">
                <img src="{% static 'images/default-course.jpg' %}" class="img-fluid rounded-3 shadow-sm w-100"
                        alt="{% trans 'Placeholder image' %}">
            </div>
            <div class="col-6">
                <img src="{% static 'images/default-course.jpg' %}" class="img-fluid rounded-3 shadow-sm w-100"
                        alt="{% trans 'Placeholder image' %}">
            </div>
            <div class="col-6">
                <img src="{% static 'images/default-course.jpg' %}" class="img-fluid rounded-3 shadow-sm w-100"
                        alt="{% trans 'Placeholder image' %}">
            </div>
        {% endfor %}
    </div><!-- end inner row -->
</div>
