{% load i18n %}

        <main>

            <!-- page title area start -->
            <section class="page__title p-relative pt-200 pb-200" data-background="assets/img/page-title/page-title-6.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="page__title-inner text-center">
                                <div class="page__title-breadcrumb">                                 
                                        <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">{% trans "Home" %}</a></li>
                                            <li class="breadcrumb-item"><a href="case.html">{% trans "Cases" %}</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Couple Separation</li>
                                        </ol>
                                        </nav>
                                </div>
                                <h1>{% trans "Couple Separation" %}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title area end -->
                
            <!-- case area start -->
            <section class="case__area pt-115 pb-80">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="case__head w-img mb-40">
                                <h2>{% trans "Couple Separation" %}</h2>
                                <p>{% trans "Eget taciti Ornare fames, facilisis risus nonummy enim sodales purus sem vestibulum erat turpis. Suspendisse pede aptent congue hendrerit risus leictue an netus curabitur ullamcorper fames laoreet fringilla sodales magnis laoreet eros ultrices diam lacus in. Vestibulum scelerisque ac faucibus pellentesque iaculi Suscipit, quisque risus. Laoreet  ornaire fames rhoncus ipsum conubia libero sed consectetuer auctor ultricies laoreet fames sapien quis fusce tempus lorem Faucibus posuere maecenas etiam enim euismod vestibulum aenean mollis magnis." %}</p>
                                <img src="assets/img/case/details/case-details-img.jpg" alt="case-details">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-4">
                            <div class="case__details-sidebar">
                                <div class="sidebar-wrapper grey-bg-3 mb-30">
                                    <div class="sidebar-title">
                                        <h3>{% trans "Case Information" %}</h3>
                                    </div>
                                    <div class="sidebar-list-2">
                                        <ul>
                                            <li>
                                                <h6>{% trans "Patient:" %}</h6>
                                                <span>{% trans "Justina Robert" %}</span>
                                            </li>
                                            <li>
                                                <h6>{% trans "Mentor:" %}</h6>
                                                <span>{% trans "Daniel Riquest" %}</span>
                                            </li>
                                            <li>
                                                <h6>{% trans "Case:" %}</h6>
                                                <span>{% trans "Couple Problem" %}</span>
                                            </li>
                                            <li>
                                                <h6>{% trans "Result:" %}</h6>
                                                <span>{% trans "Happy Patient" %}</span>
                                            </li>
                                            <li>
                                                <h6>{% trans "Treatment Cost:" %}</h6>
                                                <span>{% trans "$700" %}</span>
                                            </li>
                                            <li>
                                                <h6>{% trans "Total Duration:" %}</h6>
                                                <span>{% trans "5 Month" %}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="team__item mb-30">
                                    <div class="team__thumb w-img fix p-relative">
                                        <img class="transition-3" src="assets/img/case/details/case-details-person.jpg" alt="team-1">
                                    </div>
                                    <div class="team__content team__content-details text-center white-bg transition-3">
                                        <div class="team__name">
                                            <h3><a href="team-details.html">{% trans "Donnie Anderson" %}</a></h3>
                                            <span>{% trans "Sr. Psychologist" %}</span>
                                        </div>
                                        <div class="team__info">
                                            <p>{% trans "donniebere@gmail.com" %}</p>
                                            <p>{% trans "230-235-5020" %}</p>
                                            <div class="team__social-2 team__details-social social transition-3 mt-20">
                                                <ul>
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="services__support case__support p-relative text-center mb-30" data-background="assets/img/services/services-support.jpg">
                                    <div class="services__support-inner p-relative">
                                        <h1>{% trans "Have Any Query?" %}</h1>
                                        <a href="contact.html" class="s-btn s-btn__square s-btn__square-white">{% trans "contact now" %}</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8">
                            <div class="case__details-item  mb-35">
                                <h3>{% trans "Project Summary" %}</h3>
                                <p>{% trans "Fusce parturient libero suscipit blandit quam scelerisque dolor nullam odio enim porta curabitur moine tincidunt leo parturient elementum. Dictum pulvinar curabitur, leo quam tellus dui ultricies mi, risus ac velit quam nisl. Mus nisi proin. Per laoreet per orniare sociosqu vitaes dictumst. Dignissim suscipit cura bitur augue facilisis ac purus. Ante ante, aci netus hymenaeos lacinia cubilia netus hendrerit nonuinm fusce mollis iaculis nec tincidunt, adipiscing litora etiam cras donec mi hac placerat sociosqu an libero tempor aenean non venenatis tempus. Natoque iaculis. Vehicula penatibus odio. Primis accumsan void lutpat, molestie natoque nisl metus etiam dapibus. Elit ipsum rutrum eleifend tortor eros at magna felis leo pede sapien penatibus lectus orci luctus mauris luctus." %}</p>
                                <p>{% trans "Quam curabitur non senectus eget platea tincidunt iaculis odio nisl tellus dui quisque sit ligula establis ipsum donec parturient netus platea est habitasse felis torquent nonummy non eleifend molestie enim erat aeter rutrum parturient egestas sed parturient facilisis nec arcu fames fames dolor lectus volutpat mattis condimentum conubia tempor a praesent pulvinar fames bibendum orci nisi dui conubia tempu litora ornare ridiculus semper pretium justo sit netus dignissim facilisi donec. Justo daonec arcu ad qui sodales pulvinar nostra dui mattis. Vestibulum dictum quisque parturient iner tol maecenas sollicitudin porta tristique suspendisse fames diam malesuada sollicitudin" %}</p>
                            </div>
                            <div class="case__details-item process">
                                <h3>{% trans "Our Working Process" %}</h3>
                                <p>{% trans "Elit adipiscing fermentum suscipit ornare lorem diam imperdiet lobortis fringilla facilisis blan accumsan et senectus duis aliquet tellus mollis scelerisque nascetur sociis hendrerit velit platea. Mauris nunc viv orci pharetra placerat ultrices litora magna parturient suscipit praesent metus. Lectus vivamus lorem neque enim. Morbi duis purus nonummy convallis consectetuer  odon potenti sem blandit ullamcorper integer eleifend. Ullamcorper nisi nascetur elementum eleifend" %}</p>
                                <div class="row">
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="case__details-item-img w-img mb-30">
                                            <img src="assets/img/case/details/case-details-sm-1.jpg" alt="case-details-img">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="case__details-item-img w-img mb-30">
                                            <img src="assets/img/case/details/case-details-sm-2.jpg" alt="case-details-img">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="case__details-item-img w-img mb-30">
                                            <img src="assets/img/case/details/case-details-sm-3.jpg" alt="case-details-img">
                                        </div>
                                    </div>
                                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                        <div class="case__details-item-img w-img mb-30">
                                            <img src="assets/img/case/details/case-details-sm-4.jpg" alt="case-details-img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="case__details-item testimonial mb-10">
                                <h3>{% trans "Patient Feedback" %}</h3>
                                <div class="testimonial__slider-3 owl-carousel">
                                    <div class="testimonial__item-3">
                                        <p>{% trans "Malesuada imperdiet commodo nostra taciti neque arcu in sem a vivamus tempor ac sem convallis ued lamcorper ac enim massa massa porta interdum to nullam nis augue donec leio ut fermentum seneitus eget. Metus lacinia turpis potenti in aliquet ipsum primis and pede volutpat feugiat hymenaeos facilisis erat morbi libero to sociosqu inte dum justo sagittis feugiat facilisis morb. Seas evenings their after one brought morning there place that behold." %}</p> 
                                        <div class="testimonial__person testimonial__person-3 d-flex align-items-center">
                                            <div class="testimonial__avater">
                                                <img src="assets/img/testimonial/person-1.png" alt="">
                                            </div>
                                            <div class="testimonial__info testimonial__info-3">
                                                <h3>{% trans "Eleonora Morgan" %}</h3>
                                                <span>{% trans "CEO & Founder" %}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial__item-3">
                                        <p>{% trans "Malesuada imperdiet commodo nostra taciti neque arcu in sem a vivamus tempor ac sem convallis ued lamcorper ac enim massa massa porta interdum to nullam nis augue donec leio ut fermentum seneitus eget. Metus lacinia turpis potenti in aliquet ipsum primis and pede volutpat feugiat hymenaeos facilisis erat morbi libero to sociosqu inte dum justo sagittis feugiat facilisis morb. Seas evenings their after one brought morning there place that behold." %}</p> 
                                        <div class="testimonial__person testimonial__person-3 d-flex align-items-center">
                                            <div class="testimonial__avater">
                                                <img src="assets/img/testimonial/person-2.png" alt="">
                                            </div>
                                            <div class="testimonial__info testimonial__info-3">
                                                <h3>{% trans "Jeso Smith" %}</h3>
                                                <span>{% trans "CEO & Founder" %}</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonial__item-3">
                                        <p>{% trans "Malesuada imperdiet commodo nostra taciti neque arcu in sem a vivamus tempor ac sem convallis ued lamcorper ac enim massa massa porta interdum to nullam nis augue donec leio ut fermentum seneitus eget. Metus lacinia turpis potenti in aliquet ipsum primis and pede volutpat feugiat hymenaeos facilisis erat morbi libero to sociosqu inte dum justo sagittis feugiat facilisis morb. Seas evenings their after one brought morning there place that behold." %}</p> 
                                        <div class="testimonial__person testimonial__person-3 d-flex align-items-center">
                                            <div class="testimonial__avater">
                                                <img src="assets/img/testimonial/person-3.png" alt="">
                                            </div>
                                            <div class="testimonial__info testimonial__info-3">
                                                <h3>{% trans "Salim rana" %}</h3>
                                                <span>{% trans "CEO & Founder" %}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="case__details-item video">
                                <h3>{% trans "Helping You Walk Again" %}</h3>
                                
                                <p>{% trans "Penatibus rutrum faucibus adipiscing ute curae velit sodale per natoque nostra fames semper est cras nulla vivamus feugiat sed aliquam morbi quam mollis scelerisque netus vestibulum." %}</p>

                                <div class="case__details-video p-relative" data-background="assets/img/case/details/case-details-video.jpg">
                                    <div class="case__details-video-btn p-absolute">
                                        <a href="https://youtu.be/yJg-Y5byMMw" data-fancybox class="play-btn play-btn-pink"><i class="far fa-play"></i></a>
                                    </div>
                                </div>
                                <p>{% trans "Form that bearing earth made set likeness god under own male tree behold upon in bete fill Under fruit bring may moving also gathered were fourth stars. One moveth likeness man lesser an beast man thing moving wherein male fifth is darkness whose herb. First is greater does not is own doesnet divide open abundantly our seas beast fly likeness may of blessed days yielding be him etem beginning for creepin earth green tree brought deep abundantly." %}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- case area end -->

        </main>
