[submodule "libs/django-osoul"]
	path = applications/libs/django-osoul
	url = https://github.com/mammhoud/django-osoul
	branch = generic
[submodule "libs/crafts-ai"]
	path = applications/libs/crafts-ai
	url = https://github.com/mammhoud/crafts-ai
	branch = generic
