[submodule "libs/django-grep"]
	path = libs/django-grep
	url = https://github.com/mammhoud/django-grep
	branch = generic
[submodule "libs/django-osoul"]
	path = libs/django-osoul
	url = https://github.com/mammhoud/django-osoul
	branch = generic
[submodule "libs/django-rseal"]
	path = libs/django-rseal
	url = https://github.com/mammhoud/django-rseal
	branch = generic
