{% load static i18n wagtailcore_tags wagtailimages_tags components %}
{% prop block %}

<div class="section-xl bg-image parallax"
     data-bg-src="{% if block.value.background_image %}{% image block.value.background_image fill-1920x1080 as bg %}{{ bg.url }}{% endif %}">
    <div class="bg-dark-{{ block.value.overlay_opacity|stringformat:'s'|default:'06' }}">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-6">
                    <h1 class="fw-light m-0 text-white">{{ block.value.title }}</h1>
                </div>
                <div class="col-12 col-lg-6 text-lg-end">
                    {% if block.value.button_link %}
                    <a class="button button-xl button-radius button-white-2 btn btn-outline-light"
                       href="{{ block.value.button_link }}">
                        {{ block.value.button_text }}
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
