{% load wagtailcore_tags wagtailimages_tags %}



<!-- team area start -->
<section class="team__area pb-90 pt-110">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 offset-xl-2">
                <div class="section__title mb-70 text-center">
                    <h1>{{ block.value.title }}</h1>
                    <div class="section__icon mb-10">
                        <span class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4">{{ block.value.subtitle }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            {% for member in block.value.team_members %}
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="team__item mb-30">
                    <div class="team__thumb w-img fix p-relative">
                        {% image member.value.photo max-370x360 as photo %}
                        <img class="transition-3" src="{{ photo.url }}" alt="{{ member.value.name }}">
                    </div>
                    <div class="team__content text-center white-bg transition-3">
                        <div class="team__name">
                            <h3>
                                {% if member.value.page_link %}
                                <a href="{{ member.value.page_link.url }}">{{ member.value.name }}</a>
                                {% else %}
                                {{ member.value.name }}
                                {% endif %}
                            </h3>
                            <span>{{ member.value.position }}</span>
                        </div>
                        <div class="team__info">
                            {% if member.value.email %}
                            <p>{{ member.value.email }}</p>
                            {% endif %}
                            {% if member.value.social_links %}
                            <div class="team__social-2 social transition-3 mt-20">
                                <ul>
                                    {% for social in member.value.social_links %}
                                    <li><a href="{{ social.value.url }}"><i class="fab fa-{{ social.value.platform }}"></i></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- team area end -->