<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Single Product - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="fu-header--sticky">

    <!-- @include components/Header.html -->

    <!-- Start breadcrumb Area -->
    <div class="fu-breadcrumb--default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fu-breadcrumb__inner text-center">
                        <h2 class="title">Single Product</h2>
                        <ul class="fu-breadcrumb__list">
                            <li class="fu-breadcrumb__item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="fu-breadcrumb__item active">Single Product</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="fu-single-product__area fu-single-product fu-section--gap">
        <div class="container">
            <div class="row g-5 row--30 align-items-center">
                <div class="col-lg-6">
                    <div class="thumbnail">
                        <img class="w-100 radius-10" src="assets/images/product/1.jpg" alt="Product Images">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <div class="fu-review justify-content-start">
                            <div class="rating">
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                                <i class="fas fa-star"></i>
                            </div>
                            <span class="rating-count">(75) - 100% Positive Reviews</span>
                        </div>

                        <h2 class="title mt--10 mb--10">Miracle Morning</h2>
                        <span class="fu-label--style description">By: Hal Elrod</span>

                        <div class="fu-price justify-content-start mt--10">
                            <span class="current-price theme-gradient">$95.00</span>
                            <span class="off-price">$150.00</span>
                        </div>

                        <p class="mt--20">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
                            eirmod tempor
                            invidunt. ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et
                            accusam. et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
                            sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur
                            sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>

                        <div class="product-action mb--20">
                            <div class="pro-qty"><input type="text" value="1"></div>
                            <div class="addto-cart-btn">
                                <a class="fu-btn fu-btn--gradient hover-icon-reverse" href="cart.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="fu-btn__text">Add To Cart</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>

                        <ul class="product-feature">
                            <li><span>SKU:</span> book-8</li>
                            <li><span>Categories: </span> <a href="#">Motivation</a></li>
                            <li><span>Tag: </span>
                                <a href="#">Book Store</a>
                                <a href="#">Self Development</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fu-product-description fu-section--gap-bottom bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <ul class="nav nav-tabs fu-tab__list--style-2" id="myTab" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="#" class="fu-tab__button active" id="home-tab-4" data-bs-toggle="tab" data-bs-target="#home-4" role="tab" aria-controls="home-tab-4" aria-selected="true">
                                <span class="title">Description</span>
                            </a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#" class="fu-tab__button" id="profile-tab-4" data-bs-toggle="tab" data-bs-target="#profile-4" role="tab" aria-controls="profile-tab-4" aria-selected="false">
                                <span class="title">Reviews</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">
                        <div class="product-description-content tab-pane fade active show" id="home-4" role="tabpanel" aria-labelledby="home-tab-4">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                Ut enim ad minim veniam, quis nostrud.</p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
                                qui officia deserunt mollit anim id est laborum. Stet clita kasd gubergren, no sea
                                takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
                                consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
                        </div>

                        <div class="product-description-content tab-pane fade" id="profile-4" role="tabpanel" aria-labelledby="profile-tab-4">

                            <ul class="comment-list">
                                <!-- Start Single Comment  -->
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="single-comment">
                                            <div class="comment-img">
                                                <img src="assets/images/testimonial/testimonial-1.jpg" alt="Author Images">
                                            </div>
                                            <div class="comment-inner">
                                                <h6 class="commenter">
                                                    <a href="#">Cameron Williamson</a>
                                                </h6>
                                                <div class="comment-meta">
                                                    <div class="time-spent">Nov 23, 2018 at 12:23 pm</div>
                                                </div>
                                                <div class="fu-review justify-content-start mb--20">
                                                    <div class="rating">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="comment-text">
                                                    <p class="b2">Duis hendrerit velit scelerisque felis tempus, id
                                                        porta
                                                        libero venenatis. Nulla facilisi. Phasellus viverra
                                                        magna commodo dui lacinia tempus. Donec malesuada nunc
                                                        non dui posuere, fringilla vestibulum urna mollis.
                                                        Integer condimentum ac sapien quis maximus. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Single Comment  -->

                                <!-- Start Single Comment  -->
                                <li class="comment">
                                    <div class="comment-body">
                                        <div class="single-comment">
                                            <div class="comment-img">
                                                <img src="assets/images/testimonial/testimonial-3.jpg" alt="Author Images">
                                            </div>
                                            <div class="comment-inner">
                                                <h6 class="commenter">
                                                    <a href="#">Rafin Shuvo</a>
                                                </h6>
                                                <div class="comment-meta">
                                                    <div class="time-spent">Nov 23, 2018 at 12:23 pm</div>
                                                </div>
                                                <div class="fu-review justify-content-start mb--20">
                                                    <div class="rating">
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    </div>
                                                </div>
                                                <div class="comment-text">
                                                    <p class="b2">Duis hendrerit velit scelerisque felis tempus, id
                                                        porta
                                                        libero venenatis. Nulla facilisi. Phasellus viverra
                                                        magna commodo dui lacinia tempus. Donec malesuada nunc
                                                        non dui posuere, fringilla vestibulum urna mollis.
                                                        Integer condimentum ac sapien quis maximus. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <!-- End Single Comment  -->
                            </ul>

                            <!-- Start Product Comment Form  -->
                            <div class="fu-comment-form mt--50 fu-shadow__box">
                                <div class="comment-form-inner">
                                    <h3 class="title">Add Review</h3>

                                </div>
                                <form class="comment-form-style-1 position-relative" action="#">
                                    <p class="comment-note mb--20">Your email address will not be published. Required
                                        fields are marked *</p>

                                    <div class="notification-text d-flex align-items-center mb--30">
                                        <h6 class="mb--0 fontWeight600 title">Your Rating</h6>
                                        <div class="fu-review justify-content-start">
                                            <div class="rating">
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                                <i class="fas fa-star"></i>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row row--10">
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="name">Your Name</label>
                                                <input id="name" type="text">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="bl-email">Your Email</label>
                                                <input id="bl-email" type="email">
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-4 col-12">
                                            <div class="form-group">
                                                <label for="website">Your Website</label>
                                                <input id="website" type="text">
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label for="message">Leave a Reply</label>
                                                <textarea id="message" name="message"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <p class="comment-form-cookies-consent mb--30">
                                                <input id="wp-comment-cookies-consent" name="wp-comment-cookies-consent" type="checkbox" value="yes">
                                                <label for="wp-comment-cookies-consent">Save my name, email, and
                                                    website in this browser for the next time I comment.</label>
                                            </p>
                                        </div>
                                        <div class="col-lg-12">
                                            <button class="fu-btn fu-btn--gradient hover-icon-reverse">
                                                <span class="icon-reverse-wrapper">
                                                    <span class="fu-btn__text">Post Comment</span>
                                                <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                                <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                                </span>
                                            </button>
                                        </div>
                                    </div>

                                </form>


                            </div>
                            <!-- End Product Comment Form  -->


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="fu-related-product fu-section--gap-bottom bg-color-white">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center mb--50">
                        <span class="subtitle bg-secondary-opacity">Related Book</span>
                        <h2 class="title">Similar Books.</h2>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <!-- Start Single Product  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="fu-card--default style-three fu-hover">
                        <div class="inner">
                            <div class="content pt--0 pb--10">
                                <h2 class="title"><a href="single-product.html">Miracle Morning</a></h2>

                                <span class="team-form">
                                    <span class="location">By John Due</span>
                                </span>
                            </div>
                            <div class="thumbnail"><a href="single-product.html"><img src="assets/images/product/1.jpg" alt="Histudy Book Image"></a></div>
                            <div class="content">

                                <div class="fu-review justify-content-center">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count">(15) - 100% Positive Reviews</span>
                                </div>
                                <div class="fu-price justify-content-center mt--10">
                                    <span class="current-price theme-gradient">$60.50</span>
                                    <span class="off-price">$110.50</span>
                                </div>
                                <div class="addto-cart-btn mt--20">
                                    <a class="fu-btn fu-btn--gradient hover-icon-reverse" href="cart.html">
                                        <span class="icon-reverse-wrapper">
                                            <span class="fu-btn__text">Add To Cart</span>
                                        <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                        <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product  -->

                <!-- Start Single Product  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="fu-card--default style-three fu-hover">
                        <div class="inner">
                            <div class="content pt--0 pb--10">
                                <h2 class="title"><a href="single-product.html">Happy Strong</a></h2>

                                <span class="team-form">
                                    <span class="location">By John Due</span>
                                </span>
                            </div>
                            <div class="thumbnail"><a href="single-product.html"><img src="assets/images/product/7.jpg" alt="Histudy Book Image"></a></div>
                            <div class="content">

                                <div class="fu-review justify-content-center">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count">(75) - 100% Positive Reviews</span>
                                </div>
                                <div class="fu-price justify-content-center mt--10">
                                    <span class="current-price theme-gradient">$95.00</span>
                                    <span class="off-price">$150.00</span>
                                </div>
                                <div class="addto-cart-btn mt--20">
                                    <a class="fu-btn fu-btn--gradient hover-icon-reverse" href="cart.html">
                                        <span class="icon-reverse-wrapper">
                                            <span class="fu-btn__text">Add To Cart</span>
                                        <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                        <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product  -->

                <!-- Start Single Product  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="fu-card--default style-three fu-hover">
                        <div class="inner">
                            <div class="content pt--0 pb--10">
                                <h2 class="title"><a href="single-product.html">Rich Dad Poor Dad</a></h2>

                                <span class="team-form">
                                    <span class="location">By John Due</span>
                                </span>
                            </div>
                            <div class="thumbnail"><a href="single-product.html"><img src="assets/images/product/3.jpg" alt="Histudy Book Image"></a></div>
                            <div class="content">

                                <div class="fu-review justify-content-center">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count">(84) - 100% Positive Reviews</span>
                                </div>
                                <div class="fu-price justify-content-center mt--10">
                                    <span class="current-price theme-gradient">$12.50</span>
                                    <span class="off-price">$20.00</span>
                                </div>
                                <div class="addto-cart-btn mt--20">
                                    <a class="fu-btn fu-btn--gradient hover-icon-reverse" href="cart.html">
                                        <span class="icon-reverse-wrapper">
                                            <span class="fu-btn__text">Add To Cart</span>
                                        <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                        <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product  -->
            </div>
        </div>
    </div>

    <div class="fu-separator--mid">
        <div class="container">
            <hr class="fu-separator m-0">
        </div>
    </div>
    <!-- @include components/Footer.html -->
    <!-- @include components/Scripts.html -->