{% extends base_page|default:"base_page.html" %}
{% load static i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

{% block content %}

    {% comp "courses/details/header.html" course=course /%}
    
    {% comp "courses/details/overview.html" course=course /%}

    {% comp "courses/details/curriculum.html" course=course /%}

    {% comp "courses/details/instructor.html" course=course /%}

    {% comp "courses/details/preview.html" course=course /%}

    {% comp "courses/details/related.html" /%}

{% endblock %}