<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Newsletter - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="fu-header--sticky">

    <!-- @include components/Header.html -->

    <!-- Start breadcrumb Area -->
    <div class="fu-breadcrumb--default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fu-breadcrumb__inner text-center">
                        <h2 class="title">Newsletter</h2>
                        <ul class="fu-breadcrumb__list">
                            <li class="fu-breadcrumb__item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="fu-breadcrumb__item active">Newsletter</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="fu-newsletter__area bg-color-white fu-section--gap">
        <div class="container bg-gradient-5 newsletter-style-1">
            <div class="row row--15 align-items-center">
                <div class="col-lg-12 col-xl-7">
                    <div class="inner">
                        <div class="section-title text-center text-xl-start">
                            <span class="subtitle bg-secondary-opacity">Get Latest Histudy Update</span>
                            <h2 class="title"><strong>Subscribe</strong> Our Newsletter</h2>
                            <p class="description mt--20">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-xl-5 mt_lg--30 mt_md--30 mt_sm--30">
                    <form action="#" class="newsletter-form-1">
                        <input type="email" placeholder="Enter Your E-Email">
                        <button type="submit" class="fu-btn fu-btn--md fu-btn--gradient hover-icon-reverse">
                            <span class="icon-reverse-wrapper">
                        <span class="fu-btn__text">Subscribe</span>
                            <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                            <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="fu-newsletter__area newsletter-style-2 bg-color-primary fu-section--gap">
        <div class="container">
            <div class="row row--15 align-items-center">
                <div class="col-lg-12">
                    <div class="inner text-center">
                        <div class="section-title text-center">
                            <span class="subtitle bg-white-opacity">Get Latest Histudy Update</span>
                            <h2 class="title color-white"><strong>Subscribe</strong> Our Newsletter</h2>
                            <p class="description color-white mt--20">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam explicabo sit est eos earum reprehenderit inventore nam autem corrupti rerum!</p>
                        </div>
                        <form action="#" class="newsletter-form-1 mt--40">
                            <input type="email" placeholder="Enter Your E-Email">
                            <button type="submit" class="fu-btn fu-btn--md fu-btn--gradient hover-icon-reverse">
                                <span class="icon-reverse-wrapper">
                            <span class="fu-btn__text">Subscribe</span>
                                <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </form>
                        <span class="note-text color-white mt--20">No ads, No trails, No commitments</span>

                        <div class="row row--15 mt--50">
                            <!-- Start Single Counter -->
                            <div class="col-lg-3 offset-lg-3 col-md-6 col-sm-6 single-counter">
                                <div class="fu-counterup fu-hover--03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white"><span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <h5 class="title color-white">Successfully Trained</h5>
                                            <span class="subtitle color-white">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->

                            <!-- Start Single Counter -->
                            <div class="col-lg-3 col-md-6 col-sm-6 single-counter mt_mobile--30">
                                <div class="fu-counterup fu-hover--03 style-2 text-color-white">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter color-white"><span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <h5 class="title color-white">Certification Students</h5>
                                            <span class="subtitle color-white">Online Course</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fu-newsletter__area bg-gradient-6 ptb--50">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-5 col-md-12 col-12">
                    <div class="inner">
                        <div class="section-title text-center text-lg-start">
                            <h4 class="title"><strong>Subscribe</strong> <br /> <span class="w-400">Our Newsletter</span></h4>
                        </div>
                    </div>
                </div>
                <div class="col-lg-7 col-md-12 col-12 text-start text-sm-end">
                    <form action="#" class="newsletter-form-1 me-0">
                        <input type="email" placeholder="Enter Your E-Email">
                        <button type="submit" class="fu-btn fu-btn--md fu-btn--gradient hover-icon-reverse">
                            <span class="icon-reverse-wrapper">
                        <span class="fu-btn__text">Subscribe</span>
                            <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                            <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Start Newsletter Area  -->
    <div class="fu-newsletter__area bg-color-white fu-section--gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="title">Want to get special offers <br /> and Course updates?</h2>
                        <form action="#" class="newsletter-form-1 mt--50 radius-round">
                            <input class="fu-border" type="email" placeholder="Enter Your E-Email">
                            <button type="submit" class="fu-btn fu-btn--md fu-btn--gradient hover-icon-reverse radius-round">
                                <span class="icon-reverse-wrapper">
                <span class="fu-btn__text">Subscribe</span>
                                <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Newsletter Area  -->

    <div class="fu-separator--mid">
        <div class="container">
            <hr class="fu-separator m-0">
        </div>
    </div>
    <!-- @include components/Footer.html -->
    <!-- @include components/Scripts.html -->