{% extends base_page|default:"base_page.html" %}
{% load static  i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

{% block content %}

    {% comp_include "courses/details/header.html" %}
    
    {% comp_include "courses/details/overview.html" %}

    {% comp_include "courses/details/curriculum.html" %}

    {% comp_include "courses/details/instructor.html" %}

    {% comp_include "courses/details/preview.html" %}

    {% comp_include "courses/details/related.html" %}

{% endblock %}