<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Instructor - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="fu-header--sticky">

    <!-- @include components/Header.html -->

    <!-- Start breadcrumb Area -->
    <div class="fu-breadcrumb--default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fu-breadcrumb__inner text-center">
                        <h2 class="title">Instructor</h2>
                        <ul class="fu-breadcrumb__list">
                            <li class="fu-breadcrumb__item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="fu-breadcrumb__item active">Instructor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="fu-team-area bg-color-extra2 fu-section--gap">
        <div class="container">
            <div class="row g-5">

                <!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fu-team team-style-default style-three small-layout fu-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-01.jpg" alt="Corporate Template"></div>
                            <div class="content">
                                <h4 class="title">Zohaib Oneill</h4>
                                <h6 class="subtitle theme-gradient">Math Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->


                <!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fu-team team-style-default style-three small-layout fu-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-02.jpg" alt="Corporate Template"></div>
                            <div class="content">
                                <h2 class="title">Alvin Rivera</h2>
                                <h6 class="subtitle theme-gradient">Depertment Head</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fu-team team-style-default style-three small-layout fu-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-03.jpg" alt="Corporate Template"></div>
                            <div class="content">
                                <h2 class="title">Joao Lloyd</h2>
                                <h6 class="subtitle theme-gradient">Math Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fu-team team-style-default style-three small-layout fu-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-04.jpg" alt="Corporate Template"></div>
                            <div class="content">
                                <h2 class="title">Bella</h2>
                                <h6 class="subtitle theme-gradient">Math Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fu-team team-style-default style-three small-layout fu-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-05.jpg" alt="Corporate Template"></div>
                            <div class="content">
                                <h2 class="title">Claudia Pruitt</h2>
                                <h6 class="subtitle theme-gradient">Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fu-team team-style-default style-three small-layout fu-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-06.jpg" alt="Corporate Template"></div>
                            <div class="content">
                                <h2 class="title">Judy Oneill</h2>
                                <h6 class="subtitle theme-gradient">Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fu-team team-style-default style-three small-layout fu-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-07.jpg" alt="Corporate Template"></div>
                            <div class="content">
                                <h2 class="title">Levi Arm</h2>
                                <h6 class="subtitle theme-gradient">Teacher</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

                <!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-12">
                    <div class="fu-team team-style-default style-three small-layout fu-hover">
                        <div class="inner">
                            <div class="thumbnail"><img src="assets/images/team/team-08.jpg" alt="Corporate Template"></div>
                            <div class="content">
                                <h2 class="title">Fred Guer</h2>
                                <h6 class="subtitle theme-gradient">Economic</h6>
                                <span class="team-form">
                                    <i class="feather-map-pin"></i>
                                    <span class="location">CO Miego, AD,USA</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Team  -->

            </div>

            <div class="row">
                <div class="col-lg-12 mt--60">
                    <nav>
                        <ul class="fu-pagination">
                            <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                            <li><a href="#">1</a></li>
                            <li class="active"><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                        </ul>
                    </nav>
                </div>
            </div>

        </div>
    </div>

    <!-- @include components/Footer.html -->
    <!-- @include components/Scripts.html -->