{% extends "base.html" %}
{% load i18n static wagtailuserbar unfold %}



{% block html_attr %}
{% endblock html_attr %}

{% block body_attr %}
onload="{{ jsFunction }}"
{% endblock body_attr %}

{% block html_class %}{% endblock %}
{% block title %}{{ site.title|default:"Django Components" }}{% endblock %}

{% block favicon %}
{% for favicon in site_favicons %}
<link {% if favicon.rel %}rel="{{ favicon.rel }}" {% endif %} {% if favicon.href %}href="{{ favicon.href }}" {% endif %}
  {% if favicon.type %}type="{{ favicon.type }}" {% endif %} {% if favicon.sizes %}sizes="{{ favicon.sizes }}" {% endif %} />
{% endfor %}
{% endblock %}
{% block css %}
{% for style in styles %}
<link href="{{ style }}" rel="stylesheet" />
{% endfor %}

{% block layout_css %}

{% endblock layout_css %}

{% endblock css %}
{% block extrastyle %}{% endblock %}
{% block extrascripts %}{% endblock %}
{% block extrahead %}{% endblock %}
{% block js %}
{% for script in scripts %}
<script src="{{ script }}"></script>{% endfor %}
{% url 'javascript-catalog' as javascript_catalog_url %}
{% if javascript_catalog_url %}
<script type="text/javascript" src="{{ javascript_catalog_url }}"></script>
{% endif %}

{% endblock js %}

{% block responsive %}
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock %}
{% block blockbots %}
<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
{% block body_class %}{% endblock %}
{% block bodyclass %}{% endblock bodyclass %}
{% block theme_colors %}


{% endblock theme_colors %}
{% block modal %}
<div id="modal-overlay" class="backdrop-blur-xs bg-base-900/80 bottom-0 fixed hidden left-0 mr-1 right-0 top-0 z-50">
</div>
{% endblock modal %}

{% block body %}
<div class="flex wrapper">

  {% block side_nav %}
  {% comp_include 'layout/navigation/side_nav.html' %}
  {% endblock side_nav %}

  <div class="page-content">
    {% block top_nav %}
    <div class="top-nav">{% comp_include 'layout/navigation/top_nav.html' %}</div>
    {% endblock top_nav %}
    <main class="page-layout__main flex-grow p-6 bg-base-100">
      {% block top_header %}
      <div class="breadcrumbs">{% comp_include 'layout/headers/breadcrumbs.html' %}</div>
      {% endblock top_header %}
      {% block content %}
      {% comment %} HERE A FRAGMENT FOR THE PAGE WILL BE {% endcomment %}
      {% endblock %}
    </main>

    {% block footer %}
    {% comment %} {% comp_include "partials/footer.html" %}
    {% comp_include "includes/customizer.html" %}
    {% endcomment %}
    {% endblock footer %}

  </div>
</div>
{% endblock %}