<!-- Start Single Card  -->
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                            <div class="fu-card variation-01 fu-hover">
                                <div class="fu-card__img">
                                    <a href="course-details.html">
                                        <img src="assets/images/course/course-online-01.jpg" alt="Card image">
                                    </a>
                                </div>
                                <div class="fu-card__body">
                                    <h5 class="fu-card__title"><a href="course-details.html">React Js</a>
                                    </h5>
                                    <div class="fu-review">
                                        <div class="rating">
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                            <i class="fas fa-star"></i>
                                        </div>
                                        <span class="rating-count"> (15 Reviews)</span>
                                    </div>
                                    <div class="fu-card__bottom">
                                        <div class="fu-price">
                                            <span class="current-price">$15</span>
                                            <span class="off-price">$25</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Card  -->