<!-- Start Single Certificate  -->
                                                                <div class="col-lg-4">
                                                                    <div class="certificate-inner fu-image__checkbox">
                                                                        <input type="radio" id="option1" name="radio-group" value="option1">
                                                                        <label for="option1"><img src="assets/images/icons/certificate-none.svg" alt="Certificate Image"></label>
                                                                    </div>
                                                                </div>
                                                                <!-- End Single Certificate  -->