<!-- Start Single Course  -->
                                                <div class="col-lg-4 col-md-6 col-12">
                                                    <div class="fu-card variation-01 fu-hover">
                                                        <div class="fu-card__img">
                                                            <a href="course-details.html">
                                                                <img src="assets/images/course/course-online-01.jpg" alt="Card image">
                                                            </a>
                                                        </div>
                                                        <div class="fu-card__body">
                                                            <div class="fu-card__top">
                                                                <div class="fu-review">
                                                                    <div class="rating">
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                        <i class="fas fa-star"></i>
                                                                    </div>
                                                                    <span class="rating-count"> (15 Reviews)</span>
                                                                </div>
                                                                <div class="fu-btn--bookmark">
                                                                    <a class="fu-btn--round" title="Bookmark" href="#"><i class="feather-bookmark"></i></a>
                                                                </div>
                                                            </div>
                                                            <h4 class="fu-card__title"><a href="course-details.html">React Front To Back</a>
                                                            </h4>
                                                            <ul class="fu-meta">
                                                                <li><i class="feather-book"></i>20 Lessons</li>
                                                                <li><i class="feather-users"></i>40 Students</li>
                                                            </ul>

                                                            <div class="fu-card__bottom">
                                                                <div class="fu-price">
                                                                    <span class="current-price">$60</span>
                                                                    <span class="off-price">$120</span>
                                                                </div>
                                                                <a class="fu-btn--link left-icon" href="#"><i class="feather-edit"></i> Edit</a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- End Single Course  -->