<!-- Start Single Event  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="fu-card event-grid-card variation-01 fu-hover">
                        <div class="fu-card__img">
                            <a href="course-details.html">
                                <img src="assets/images/event/grid-type-01.jpg" alt="Card image">
                                <div class="fu-badge--3 bg-white">
                                    <span>11 Jan</span>
                                    <span>2023</span>
                                </div>
                            </a>
                        </div>
                        <div class="fu-card__body">
                            <ul class="fu-meta">
                                <li><i class="feather-map-pin"></i>IAC Building</li>
                                <li><i class="feather-clock"></i>8:00 am - 5:00 pm</li>
                            </ul>
                            <h4 class="fu-card__title"><a href="course-details.html">International Education Fair 2023</a></h4>

                            <div class="read-more-btn">
                                <a class="fu-btn btn-border hover-icon-reverse btn-sm radius-round" href="event-details.html">
                                    <span class="icon-reverse-wrapper">
                                        <span class="btn-text">Get Ticket</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Event  -->