<!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <h3 class="title">Basic Plan</h3>
                            <span class="fu-badge mb--35">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$30.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$8.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li><i class="feather-check"></i> High Resolution Videos</li>
                                <li><i class="feather-check"></i> 24/7 Dedicated Support</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn bg-primary-opacity hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="btn-text">Join Course Plan</span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                    <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->