<!-- Start Single Product  -->
                <div class="col-lg-4 col-md-6 col-12">
                    <div class="fu-card--default style-three fu-hover">
                        <div class="inner">
                            <div class="content pt--0 pb--10">
                                <h2 class="title"><a href="single-product.html">Miracle Morning</a></h2>

                                <span class="team-form">
                                    <span class="location">By John Due</span>
                                </span>
                            </div>
                            <div class="thumbnail"><a href="single-product.html"><img src="assets/images/product/1.jpg" alt="Histudy Book Image"></a></div>
                            <div class="content">

                                <div class="fu-review justify-content-center">
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <span class="rating-count">(15) - 100% Positive Reviews</span>
                                </div>
                                <div class="fu-price justify-content-center mt--10">
                                    <span class="current-price theme-gradient">$60.50</span>
                                    <span class="off-price">$110.50</span>
                                </div>
                                <div class="addto-cart-btn mt--20">
                                    <a class="fu-btn btn-gradient hover-icon-reverse" href="cart.html">
                                        <span class="icon-reverse-wrapper">
                                            <span class="btn-text">Add To Cart</span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        <span class="btn-icon"><i class="feather-arrow-right"></i></span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Product  -->