<!-- Start Single Team  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="fu-team-modal__thumb nav nav-tabs">
                        <a class="fu-team__thumbnail" href="javascript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <div class="thumb">
                                <img src="assets/images/team/team-05.jpg" alt="Testimonial Images">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- End Single Team  -->