<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Counter - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="fu-header--sticky">
    <!-- @include components/Header.html -->
    <!-- Start breadcrumb Area -->
    <div class="fu-breadcrumb--default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fu-breadcrumb__inner text-center">
                        <h2 class="title">Counter</h2>
                        <ul class="fu-breadcrumb__list">
                            <li class="fu-breadcrumb__item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="fu-breadcrumb__item active">Counter</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="fu-counterup__area bg-color-white fu-section--gap">
        <div class="container">
            <div class="row mb--60">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span class="subtitle bg-primary-opacity">Why Choose Us</span>
                        <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                        <p class="description has-medium-font-size mt--20 mb--0">There are many variations of passages of the Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>
            </div>
            <div class="row g-5 hanger-line">
                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="fu-counterup fu-hover--03 border-bottom-gradient">
                        <div class="top-circle-shape"></div>
                        <div class="inner">
                            <div class="fu-round-icon">
                                <img src="assets/images/icons/counter-01.png" alt="Icons Images">
                            </div>
                            <div class="content">
                                <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                </h3>
                                <span class="subtitle">Learners &amp; counting</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->

                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--60 mt_md--30 mt_sm--30 mt_mobile--60">
                    <div class="fu-counterup fu-hover--03 border-bottom-gradient">
                        <div class="top-circle-shape"></div>
                        <div class="inner">
                            <div class="fu-round-icon">
                                <img src="assets/images/icons/counter-02.png" alt="Icons Images">
                            </div>
                            <div class="content">
                                <h3 class="counter"><span class="odometer" data-count="800">00</span>
                                </h3>
                                <span class="subtitle">Courses & Video</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->

                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt_md--60 mt_sm--60">
                    <div class="fu-counterup fu-hover--03 border-bottom-gradient">
                        <div class="top-circle-shape"></div>
                        <div class="inner">
                            <div class="fu-round-icon">
                                <img src="assets/images/icons/counter-03.png" alt="Icons Images">
                            </div>
                            <div class="content">
                                <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                                </h3>
                                <span class="subtitle">Certified Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->

                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--60 mt_md--30 mt_sm--30 mt_mobile--60">
                    <div class="fu-counterup fu-hover--03 border-bottom-gradient">
                        <div class="top-circle-shape"></div>
                        <div class="inner">
                            <div class="fu-round-icon">
                                <img src="assets/images/icons/counter-04.png" alt="Icons Images">
                            </div>
                            <div class="content">
                                <h3 class="counter"><span class="odometer" data-count="100">00</span>
                                </h3>
                                <span class="subtitle">Registered Enrolls</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->
            </div>
        </div>
    </div>

    <div class="fu-counterup__area bg-color-extra2 fu-section--gap">
        <div class="conter-style-2">
            <div class="container">
                <div class="row g-5 align-items-center">

                    <div class="col-lg-6 order-2 order-lg-1">
                        <div class="row row--30">
                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="fu-counterup fu-hover--03">
                                    <div class="inner">
                                        <div class="icon">
                                            <img src="assets/images/icons/counter-01.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <span class="subtitle">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--60">
                                <div class="fu-counterup fu-hover--03">
                                    <div class="inner">
                                        <div class="icon">
                                            <img src="assets/images/icons/counter-02.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="800">00</span>
                                            </h3>
                                            <span class="subtitle">Courses & Video</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt_mobile--40">
                                <div class="fu-counterup fu-hover--03 transform-sm-none" data-parallax='{"x": 0, "y": -60}'>
                                    <div class="inner">
                                        <div class="icon">
                                            <img src="assets/images/icons/counter-03.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                                            </h3>
                                            <span class="subtitle">Certified Students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12 mt--60 mt_mobile--40">
                                <div class="fu-counterup fu-hover--03 transform-sm-none" data-parallax='{"x": 0, "y": 60}'>
                                    <div class="inner">
                                        <div class="icon">
                                            <img src="assets/images/icons/counter-04.png" alt="Icons Images">
                                        </div>
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <span class="subtitle">Certified Students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->
                        </div>
                    </div>
                    <div class="col-lg-6 order-1 order-lg-2">
                        <div class="inner pl--50 pl_sm--0 pl_md--0">
                            <div class="section-title text-start">
                                <span class="subtitle bg-pink-opacity">Why Choose Us</span>
                                <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                                <p class="description has-medium-font-size mt--20 mb--0">There are many variations of passages of the Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            </div>

                            <div class="fu-feature-wrapper mt--30">

                                <div class="fu-feature feature-style-1 align-items-center">
                                    <div class="icon bg-primary-opacity">
                                        <i class="feather-heart"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">Flexible Classes</h6>
                                    </div>
                                </div>

                                <div class="fu-feature feature-style-1 align-items-center">
                                    <div class="icon bg-secondary-opacity">
                                        <i class="feather-book"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">Learn From Anywhere</h6>
                                    </div>
                                </div>

                                <div class="fu-feature feature-style-1 align-items-center">
                                    <div class="icon bg-pink-opacity">
                                        <i class="feather-aperture"></i>
                                    </div>
                                    <div class="feature-content">
                                        <h6 class="feature-title">Unlimited Resources With Strong Support</h6>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fu-counterup__area bg-color-white fu-section--gap">
        <div class="container">
            <div class="row mb--60">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span class="subtitle bg-primary-opacity">Why Choose Us</span>
                        <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                        <p class="description has-medium-font-size mt--20 mb--0">There are many variations of passages of the Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="fu-counterup fu-hover--active active fu-hover--03">
                        <div class="inner">
                            <div class="fu-round-icon bg-primary-opacity">
                                <i class="feather-heart"></i>
                            </div>
                            <div class="content">
                                <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                </h3>
                                <span class="subtitle">Learners &amp; counting</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->

                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--60 mt_md--30 mt_sm--30">
                    <div class="fu-counterup fu-hover--active fu-hover--03">
                        <div class="inner">
                            <div class="fu-round-icon bg-pink-opacity">
                                <i class="feather-activity"></i>
                            </div>
                            <div class="content">
                                <h3 class="counter"><span class="odometer" data-count="800">00</span>
                                </h3>
                                <span class="subtitle">Courses & Video</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->

                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                    <div class="fu-counterup fu-hover--active fu-hover--03">
                        <div class="inner">
                            <div class="fu-round-icon bg-secondary-opacity">
                                <i class="feather-cast"></i>
                            </div>
                            <div class="content">
                                <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                                </h3>
                                <span class="subtitle">Certified Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->

                <!-- Start Single Counter  -->
                <div class="col-lg-3 col-md-6 col-sm-6 col-12 mt--60 mt_md--30 mt_sm--30">
                    <div class="fu-counterup fu-hover--active fu-hover--03">
                        <div class="inner">
                            <div class="fu-round-icon bg-violet-opacity">
                                <i class="feather-map"></i>
                            </div>
                            <div class="content">
                                <h3 class="counter"><span class="odometer" data-count="100">00</span>
                                </h3>
                                <span class="subtitle">Certified Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->
            </div>
        </div>
    </div>

    <div class="fu-counterup__area bg-color-extra2 fu-section--gap">
        <div class="conter-style-2">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="inner pl--50 pl_sm--0 pl_md--0">
                            <div class="section-title text-start">
                                <span class="subtitle bg-pink-opacity">Why Choose Us</span>
                                <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                                <p class="description has-medium-font-size mt--20 mb--0">There are many variations of passages of the Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            </div>
                            <div class="read-more-btn mt--40">
                                <a class="fu-btn hover-icon-reverse" href="#">
                                    <div class="icon-reverse-wrapper">
                                        <span class="fu-btn__text">More About Us</span>
                                        <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                        <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row g-5">
                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="fu-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                            </h3>
                                            <span class="subtitle">Learners &amp; counting</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="fu-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="800">00</span>
                                            </h3>
                                            <span class="subtitle">Courses & Video</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="fu-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                                            </h3>
                                            <span class="subtitle">Certified Students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->

                            <!-- Start Single Counter  -->
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="fu-counterup style-2">
                                    <div class="inner">
                                        <div class="content">
                                            <h3 class="counter"><span class="odometer" data-count="100">00</span>
                                            </h3>
                                            <span class="subtitle">Certified Students</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Counter  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fu-counterup__area bg_image bg_image_fixed bg_image--3 ptb--170 bg-black-overlay" data-black-overlay="4">
        <div class="conter-style-2">
            <div class="container">
                <div class="row g-5">
                    <!-- Start Single Counter  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                        <div class="fu-counterup style-2">
                            <div class="inner">
                                <div class="content">
                                    <h3 class="counter"><span class="odometer" data-count="500">00</span>
                                    </h3>
                                    <span class="subtitle">Learners &amp; counting</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Counter  -->

                    <!-- Start Single Counter  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                        <div class="fu-counterup style-2">
                            <div class="inner">
                                <div class="content">
                                    <h3 class="counter"><span class="odometer" data-count="800">00</span>
                                    </h3>
                                    <span class="subtitle">Courses & Video</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Counter  -->

                    <!-- Start Single Counter  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                        <div class="fu-counterup style-2">
                            <div class="inner">
                                <div class="content">
                                    <h3 class="counter"><span class="odometer" data-count="1000">00</span>
                                    </h3>
                                    <span class="subtitle">Certified Students</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Counter  -->

                    <!-- Start Single Counter  -->
                    <div class="col-lg-3 col-md-6 col-sm-6 col-12 single-counter">
                        <div class="fu-counterup style-2">
                            <div class="inner">
                                <div class="content">
                                    <h3 class="counter"><span class="odometer" data-count="100">00</span>
                                    </h3>
                                    <span class="subtitle">Certified Students</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Counter  -->
                </div>
            </div>
        </div>
    </div>


    <div class="fu-counterup__area bg-color-white fu-section--gap">
        <div class="container">
            <div class="row mb--40">
                <div class="col-lg-12">
                    <div class="section-title text-center">
                        <span class="subtitle bg-primary-opacity">Why Choose Us</span>
                        <h2 class="title">Creating A Community Of <br /> Life Long Learners.</h2>
                        <p class="description has-medium-font-size mt--20 mb--0">There are many variations of passages of the Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <!-- Start Single Counter  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="fu-counterup style-3">
                        <div class="inner">
                            <div class="content">
                                <h2 class="counter"><span class="odometer" data-count="500">00</span>
                                </h2>
                                <span class="subtitle">Learners &amp; counting</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->

                <!-- Start Single Counter  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="fu-counterup style-3">
                        <div class="inner">
                            <div class="content">
                                <h2 class="counter"><span class="odometer" data-count="800">00</span>
                                </h2>
                                <span class="subtitle">Courses & Video</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->

                <!-- Start Single Counter  -->
                <div class="col-lg-4 col-md-6 col-sm-6 col-12">
                    <div class="fu-counterup style-3">
                        <div class="inner">
                            <div class="content">
                                <h2 class="counter"><span class="odometer" data-count="1000">00</span>
                                </h2>
                                <span class="subtitle">Certified Students</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Counter  -->
            </div>
        </div>
    </div>

    <div class="fu-separator--mid">
        <div class="container">
            <hr class="fu-separator m-0">
        </div>
    </div>
    <!-- @include components/Footer.html -->
    <!-- @include components/Scripts.html -->