<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pricing - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body class="fu-header--sticky">

    <!-- @include components/Header.html -->
    <!-- Start breadcrumb Area -->
    <div class="fu-breadcrumb--default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fu-breadcrumb__inner text-center">
                        <h2 class="title">Pricing</h2>
                        <ul class="fu-breadcrumb__list">
                            <li class="fu-breadcrumb__item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="fu-breadcrumb__item active">Pricing</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->

    <div class="fu-pricing__area bg-color-white fu-section--gap">
        <div class="container">
            <div class="row g-5 mb--60">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="section-title text-start">
                        <span class="subtitle bg-primary-opacity">COURSE PRICING</span>
                        <h2 class="title">Style One</h2>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-12">
                    <div class="pricing-billing-duration text-start text-md-end">
                        <ul>
                            <li class="nav-item">
                                <button class="nav-link yearly-plan-btn" type="button">Yearly Plan</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link monthly-plan-btn active" type="button">Monthly Plan</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <h3 class="title">Basic Plan</h3>
                            <span class="fu-badge mb--35">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$30.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$8.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li><i class="feather-check"></i> High Resolution Videos</li>
                                <li><i class="feather-check"></i> 24/7 Dedicated Support</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn bg-primary-opacity hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table active">
                        <div class="pricing-header">
                            <h3 class="title">Standard Plan</h3>
                            <span class="fu-badge mb--35">Most Popular</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$100.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$20.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li><i class="feather-check"></i> High Resolution Videos</li>
                                <li><i class="feather-check"></i> 24/7 Dedicated Support</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table">
                        <div class="pricing-header">
                            <h3 class="title">Exclusive Plan</h3>
                            <span class="fu-badge mb--35">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$99.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$39.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li><i class="feather-check"></i> High Resolution Videos</li>
                                <li><i class="feather-check"></i> 24/7 Dedicated Support</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn bg-primary-opacity hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->
            </div>
        </div>
    </div>

    <div class="fu-pricing__area bg-color-extra2 fu-section--gap">
        <div class="container">
            <div class="row g-5 mb--60">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="section-title text-start">
                        <span class="subtitle bg-pink-opacity">COURSE PRICING</span>
                        <h2 class="title">Style Two</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="pricing-billing-duration text-start text-md-end">
                        <ul>
                            <li class="nav-item">
                                <button class="nav-link yearly-plan-btn" type="button">Yearly Plan</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link monthly-plan-btn active" type="button">Monthly Plan</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-2">
                        <div class="pricing-header">
                            <h3 class="title">Basic Plan</h3>
                            <span class="fu-badge mb--35">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$30.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$10.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>

                        <div class="pricing-btn">
                            <a class="fu-btn bg-primary-opacity hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>

                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li class="off"><i class="feather-x"></i> 24/7 Dedicated Support</li>
                                <li class="off"><i class="feather-x"></i> Unlimited Emails</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-2 active">
                        <div class="pricing-header">
                            <div class="pricing-badge"><span>Popular</span></div>
                            <h3 class="title">Standard Plan</h3>
                            <span class="fu-badge mb--35">Most Popular</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$100.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$20.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>

                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li><i class="feather-check"></i> High Resolution Videos</li>
                                <li><i class="feather-check"></i> 24/7 Dedicated Support</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-2">
                        <div class="pricing-header">
                            <h3 class="title">Exclusive Plan</h3>
                            <span class="fu-badge mb--35">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$99.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$39.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>

                        <div class="pricing-btn">
                            <a class="fu-btn bg-primary-opacity hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>

                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li class="off"><i class="feather-x"></i> 24/7 Dedicated Support</li>
                                <li class="off"><i class="feather-x"></i> Unlimited Emails</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- End Single Pricing  -->
            </div>
        </div>
    </div>

    <div class="fu-pricing__area bg-color-white fu-section--gap">
        <div class="container">
            <div class="row g-5 mb--60">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="section-title text-start">
                        <span class="subtitle bg-secondary-opacity">COURSE PRICING</span>
                        <h2 class="title">Style Three</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="pricing-billing-duration text-start text-md-end">
                        <ul>
                            <li class="nav-item">
                                <button class="nav-link yearly-plan-btn" type="button">Yearly Plan</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link monthly-plan-btn active" type="button">Monthly Plan</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row g-5">
                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-2">
                        <div class="pricing-header">
                            <h3 class="title color-primary">Basic Plan</h3>
                            <span class="fu-badge mb--35">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount color-primary">$30.99</span>
                                    <span class="duration color-primary">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount color-primary">$10.00</span>
                                    <span class="duration color-primary">/monthly</span>
                                </div>
                            </div>
                        </div>

                        <div class="pricing-btn">
                            <a class="fu-btn bg-primary-opacity hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>

                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li class="off"><i class="feather-x"></i> 24/7 Dedicated Support</li>
                                <li class="off"><i class="feather-x"></i> Unlimited Emails</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-2 active">
                        <div class="pricing-header">
                            <div class="pricing-badge"><span>Popular</span></div>
                            <h3 class="title color-secondary">Standard Plan</h3>
                            <span class="fu-badge mb--35">Most Popular</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount color-secondary">$100.99</span>
                                    <span class="duration color-secondary">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount color-secondary">$20.00</span>
                                    <span class="duration color-secondary">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn bg-secondary-opacity hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>

                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li><i class="feather-check"></i> High Resolution Videos</li>
                                <li><i class="feather-check"></i> 24/7 Dedicated Support</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-2">
                        <div class="pricing-header">
                            <h3 class="title color-pink">Exclusive Plan</h3>
                            <span class="fu-badge mb--35">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount color-pink">$99.99</span>
                                    <span class="duration color-pink">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount color-pink">$39.00</span>
                                    <span class="duration color-pink">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn bg-pink-opacity hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>

                        <div class="pricing-body">
                            <ul class="list-item">
                                <li><i class="feather-check"></i> Unlimited Access Courses</li>
                                <li><i class="feather-check"></i> Certificate After Completion</li>
                                <li class="off"><i class="feather-x"></i> 24/7 Dedicated Support</li>
                                <li class="off"><i class="feather-x"></i> Unlimited Emails</li>
                            </ul>
                        </div>

                    </div>
                </div>
                <!-- End Single Pricing  -->
            </div>
        </div>
    </div>

    <div class="fu-pricing__area bg-color-extra2 fu-section--gap">
        <div class="container">
            <div class="row g-5 mb--60">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="section-title text-start">
                        <span class="subtitle bg-pink-opacity">COURSE PRICING</span>
                        <h2 class="title">Style Four</h2>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="pricing-billing-duration text-start text-md-end">
                        <ul>
                            <li class="nav-item">
                                <button class="nav-link yearly-plan-btn" type="button">Yearly Plan</button>
                            </li>
                            <li class="nav-item">
                                <button class="nav-link monthly-plan-btn active" type="button">Monthly Plan</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row gx-0 ">
                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-3">
                        <div class="icon-image text-center">
                            <img src="assets/images/icons/pricing-icon-01.png" alt="Pricing Image Icons">
                        </div>
                        <div class="pricing-header">
                            <h3 class="title">6 weeks to 12 months</h3>
                            <span class="fu-badge mb--15">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$1475</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$12.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-item">
                                <li>5 Full Days</li>
                                <li>7:00 am to 6:00 pm</li>
                                <li class="off">High Resolution Videos</li>
                                <li class="off">24/7 Dedicated Support</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn fu-btn--border radius-round hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-3 active">
                        <div class="icon-image text-center">
                            <img src="assets/images/icons/pricing-icon-02.png" alt="Pricing Image Icons">
                        </div>
                        <div class="pricing-header">
                            <h3 class="title">12 months to 24 months</h3>
                            <span class="fu-badge mb--15">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$30.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$20.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-item">
                                <li>8 Full Days</li>
                                <li>7:00 am to 6:00 pm</li>
                                <li class="off">High Resolution Videos</li>
                                <li class="off">24/7 Dedicated Support</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn fu-btn--gradient radius-round hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->

                <!-- Start Single Pricing  -->
                <div class="col-xl-4 col-lg-6 col-md-6 col-12">
                    <div class="pricing-table style-3">
                        <div class="icon-image text-center">
                            <img src="assets/images/icons/pricing-icon-03.png" alt="Pricing Image Icons">
                        </div>
                        <div class="pricing-header">
                            <h3 class="title">Pre Primary Community</h3>
                            <span class="fu-badge mb--15">Free for a Month</span>
                            <div class="price-wrap">
                                <div class="yearly-pricing" style="display: none;">
                                    <span class="amount">$1245.99</span>
                                    <span class="duration">/yearly</span>
                                </div>
                                <div class="monthly-pricing" style="display: block;">
                                    <span class="amount">$30.00</span>
                                    <span class="duration">/monthly</span>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-body">
                            <ul class="list-item">
                                <li>Pre Primary Community</li>
                                <li>Kindergarten Community</li>
                                <li>High Resolution Videos</li>
                                <li>24/7 Dedicated Support</li>
                            </ul>
                        </div>
                        <div class="pricing-btn">
                            <a class="fu-btn fu-btn--border radius-round hover-icon-reverse w-100" href="#">
                                <div class="icon-reverse-wrapper">
                                    <span class="fu-btn__text">Join Course Plan</span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                    <span class="fu-btn__icon"><i class="feather-arrow-right"></i></span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- End Single Pricing  -->

            </div>
        </div>
    </div>

    <div class="fu-pricing__area bg-color-white fu-section--gap">
        <div class="container">
            <div class="row g-5 mb--60">
                <div class="col-12">
                    <div class="section-title text-center">
                        <span class="subtitle bg-pink-opacity">COURSE PRICING</span>
                        <h2 class="title">Style Five</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="advance-pricing">
                        <div class="inner">
                            <div class="row row--0">
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="pricing-left">
                                        <h3 class="main-title">Active Plan Mode.</h3>
                                        <p class="description">Lorem ipsum dolor sit amet consectetur
                                            adipisicing elit. Nemo, quisquam.</p>
                                        <div class="price-wrapper">
                                            <span class="price-amount">$129<sup>/mo</sup></span>
                                        </div>
                                        <div class="pricing-btn-group">
                                            <button class="fu-btn fu-btn--gradient w-100">Purchase Now</button>
                                            <button class="fu-btn fu-btn--border w-100">Upgrade</button>
                                        </div>
                                        <div class="rating">
                                            <a href="#rating">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                </svg>
                                            </a>
                                            <a href="#rating">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                </svg>
                                            </a>
                                            <a href="#rating">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                </svg>
                                            </a>
                                            <a href="#rating">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                </svg>
                                            </a>
                                            <a href="#rating">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                                    <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"></path>
                                                </svg>
                                            </a>
                                        </div>
                                        <small class="subtitle">rated 4.5/5 Stars in 1000+ reviews.</small>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="pricing-right position-relative">
                                        <div class="pricing-offer">
                                            <div class="single-list">
                                                <h4 class="price-title">Advance Plans You can Get.</h4>
                                                <ul class="plan-offer-list">
                                                    <li>
                                                        <i class="feather-check"></i> 5 PPC Campaigns
                                                    </li>
                                                    <li>
                                                        <i class="feather-check"></i> Digital Marketing
                                                    </li>
                                                    <li>
                                                        <i class="feather-check"></i> Marketing Agency
                                                    </li>
                                                    <li>
                                                        <i class="feather-check"></i> Seo Friendly
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="single-list mt--40">
                                                <h4 class="price-title">Basic Plans You can Get.</h4>
                                                <ul class="plan-offer-list">
                                                    <li>
                                                        <i class="feather-check"></i> 5 PPC Campaigns
                                                    </li>
                                                    <li>
                                                        <i class="feather-check"></i> Digital Marketing
                                                    </li>
                                                    <li>
                                                        <i class="feather-check"></i> Marketing Agency
                                                    </li>
                                                    <li>
                                                        <i class="feather-check"></i> Seo Friendly
                                                    </li>
                                                    <li>
                                                        <i class="feather-check"></i> App Development
                                                    </li>
                                                    <li class="off">
                                                        <i class="feather-x"></i> 24/7 Dedicated Support
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="pricing-badge"><span>Popular</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fu-separator--mid">
        <div class="container">
            <hr class="fu-separator m-0">
        </div>
    </div>
    <!-- @include components/Footer.html -->
    <!-- @include components/Scripts.html -->