<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Style Guide - Online Courses & Education Bootstrap5 Template</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.png">

    <!-- CSS
	============================================ -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/vendor/slick.css">
    <link rel="stylesheet" href="assets/css/vendor/slick-theme.css">
    <link rel="stylesheet" href="assets/css/plugins/sal.css">
    <link rel="stylesheet" href="assets/css/plugins/feather.css">
    <link rel="stylesheet" href="assets/css/plugins/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/plugins/euclid-circulara.css">
    <link rel="stylesheet" href="assets/css/plugins/swiper.css">
    <link rel="stylesheet" href="assets/css/plugins/magnify.css">
    <link rel="stylesheet" href="assets/css/plugins/odometer.css">
    <link rel="stylesheet" href="assets/css/plugins/animation.css">
    <link rel="stylesheet" href="assets/css/plugins/bootstrap-select.min.css">
    <link rel="stylesheet" href="assets/css/plugins/jquery-ui.css">
    <link rel="stylesheet" href="assets/css/plugins/magnigy-popup.min.css">
    <link rel="stylesheet" href="assets/css/plugins/plyr.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
    <!-- @include components/Header.html -->

    <!-- Start breadcrumb Area -->
    <div class="fu-breadcrumb--default ptb--100 ptb_md--50 ptb_sm--30 bg-gradient-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="fu-breadcrumb__inner text-center">
                        <h2 class="title">Style Guide</h2>
                        <ul class="fu-breadcrumb__list">
                            <li class="fu-breadcrumb__item"><a href="index.html">Home</a></li>
                            <li>
                                <div class="icon-right"><i class="feather-chevron-right"></i></div>
                            </li>
                            <li class="fu-breadcrumb__item active">Style Guide</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb Area -->


    <div class="fu-style-guide__area fu-section--gap">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-3">
                    <div class="fu-default-sidebar sticky-top fu-shadow__box fu-gradient__border">
                        <div class="inner">
                            <div class="content-item-content">
                                <div class="fu-widget-details">
                                    <nav class="onepagenav">
                                        <ul class="mainmenu fu-course-details__list-wrapper">
                                            <li class="current"><a href="#colorPalette"><span>1. Color Palette</span></a></li>
                                            <li><a href="#gradient"><span>2. Color Gradient</span></a></li>
                                            <li><a href="#typography"><span>3. Typography</span></a></li>
                                            <li><a href="#formElements"><span>4. Form Elements</span></a></li>
                                            <li><a href="#pagination"><span>5. Pagination</span></a></li>
                                            <li><a href="#tooltips"><span>6. Tooltips</span></a></li>
                                            <li><a href="#avatars"><span>7. Avatars</span></a></li>
                                            <li><a href="#animatedHeading"><span>8. Animated Heading</span></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9">

                    <div id="colorPalette" class="fu-elements-area bg-color-white fu-shadow__box mb--60">
                        <div class="wrapper">
                            <div class="section-title">
                                <h4 class="fu-title--style-3">Color Palette</h4>
                            </div>

                            <div class="row g-5">

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-primary radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#2f57ef</span>
                                            <h6 class="title mb--0">Primary Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-secondary radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#b966e7</span>
                                            <h6 class="title mb--0">Secondary Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-coral radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#E9967A</span>
                                            <h6 class="title mb--0">Coral Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-violet radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#800080</span>
                                            <h6 class="title mb--0">Violet Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-pink radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#DB7093</span>
                                            <h6 class="title mb--0">pink Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-heading radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#192335</span>
                                            <h6 class="title mb--0">heading Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-body radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#6b7385</span>
                                            <h6 class="title mb--0">body Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-white radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#ffffff</span>
                                            <h6 class="title mb--0">white Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-white-off radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#FFFFFFAB</span>
                                            <h6 class="title mb--0">white off Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-bodyest radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#273041</span>
                                            <h6 class="title mb--0">bodyest Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-dark radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#27272E</span>
                                            <h6 class="title mb--0">dark Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-darker radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#192335</span>
                                            <h6 class="title mb--0">darker Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-black radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#111113</span>
                                            <h6 class="title mb--0">black Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-grey radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">rgba(207,207,207,.24</span>
                                            <h6 class="title mb--0">grey Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-grey2 radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#f4f5f7</span>
                                            <h6 class="title mb--0">grey2 Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-gray radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#A1A9AC</span>
                                            <h6 class="title mb--0">gray Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-gray-light radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#F6F6F6</span>
                                            <h6 class="title mb--0">gray light Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-gray-lighter radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#ebebeb</span>
                                            <h6 class="title mb--0">gray lighter Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-light radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#F5F7FA</span>
                                            <h6 class="title mb--0">light Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-lighter radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#F2F5F9</span>
                                            <h6 class="title mb--0">lighter Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-primary-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#2f57ef21</span>
                                            <h6 class="title mb--0">primary opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-secondary-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#b966e721</span>
                                            <h6 class="title mb--0">secondary opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-coral-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#E9967A21</span>
                                            <h6 class="title mb--0">coral opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-violet-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#80008021</span>
                                            <h6 class="title mb--0">violet opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-pink-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#DB709321</span>
                                            <h6 class="title mb--0">pink opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-white-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#ffffff21</span>
                                            <h6 class="title mb--0">white opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-danger-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#FF000310</span>
                                            <h6 class="title mb--0">danger opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-warning-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#FF8F3C10</span>
                                            <h6 class="title mb--0">warning opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-black-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">rgba(0, 0, 0, 0.04)</span>
                                            <h6 class="title mb--0">black opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-heading-opacity radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#19233550</span>
                                            <h6 class="title mb--0">heading opacity Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box fu-card--bg-1 radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#fffccf</span>
                                            <h6 class="title mb--0">Card Color 01</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box fu-card--bg-2 radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#ffedff</span>
                                            <h6 class="title mb--0">Card Color 02</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box fu-card--bg-3 radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#ffe8eb</span>
                                            <h6 class="title mb--0">Card Color 03</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box fu-card--bg-4 radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#e9f6ff</span>
                                            <h6 class="title mb--0">Card Color 04</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-success radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#3EB75E</span>
                                            <h6 class="title mb--0">success Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-danger radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#FF0003</span>
                                            <h6 class="title mb--0">danger Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-warning radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#FF8F3C</span>
                                            <h6 class="title mb--0">warning Color</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-color-info radius-10"></div>
                                        <div class="content mt--10">
                                            <span class="fu-title--style-2">#1BA2DB</span>
                                            <h6 class="title mb--0">info Color</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div id="gradient" class="fu-elements-color bg-color-white fu-shadow__box mb--60">
                        <div class="wrapper">

                            <div class="section-title">
                                <h4 class="fu-title--style-3">Color Gradient</h4>
                            </div>

                            <div class="row g-5">

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-1 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 1</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-2 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 2</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-3 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 3</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-4 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 4</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-5 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 5</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-6 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 6</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-7 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 7</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-8 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 8</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-9 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 9</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-10 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 10</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-11 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 11</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-12 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 12</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-13 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 13</h6>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-3">
                                    <div class="color-box-inner">
                                        <div class="color-box bg-gradient-14 radius-10"></div>
                                        <div class="content mt--10">
                                            <h6 class="title mb--0">Gradient 14</h6>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div id="typography" class="fu-elements-area bg-color-white fu-shadow__box mb--60">
                        <div class="wrapper">
                            <div class="section-title">
                                <h4 class="fu-title--style-3">Typography</h4>
                            </div>

                            <div class="row g-5">
                                <div class="col-lg-6">
                                    <h1>h1. Heading One</h1>
                                    <h2>h2. Heading Two</h2>
                                    <h3>h3. Heading Three</h3>
                                    <h4>h4. Heading Four</h4>
                                    <h5>h5. Heading Five</h5>
                                    <h6>h6. Heading Six</h6>
                                </div>
                                <div class="col-lg-6">
                                    <p class="b1">B1- Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Similique non ipsam reiciendis.</p>
                                    <p class="b2">B2- Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Similique non ipsam reiciendis.</p>
                                    <p class="b3">B3- Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                                        Similique non ipsam reiciendis.</p>
                                    <p>Befault- Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique non
                                        ipsam reiciendis.</p>
                                </div>
                            </div>

                            <div class="row mt--40">
                                <div class="section-title">
                                    <h4 class="fu-title--style-3">Heading Style</h4>
                                </div>
                                <div class="col-lg-12">
                                    <div class="section-title text-center">
                                        <h2 class="title">Heading Style One.</h2>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt--60">
                                    <div class="section-title text-center">
                                        <h2 class="fu-title--style-2">Heading Style Two.</h2>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt--60">
                                    <div class="section-title text-center">
                                        <h2 class="fu-title--style-3">Heading Style Three.</h2>
                                    </div>
                                </div>
                                <div class="col-lg-12 mt--60">
                                    <div class="section-title text-center">
                                        <h2 class="fu-short-title">Heading Short Title.</h2>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div id="formElements" class="fu-elements-area bg-color-white fu-shadow__box mb--60">
                        <div class="wrapper">
                            <div class="section-title">
                                <h4 class="fu-title--style-3">Form Elements</h4>
                            </div>
                            <div class="row g-5">

                                <div class="col-lg-6">
                                    <h5>Input</h5>
                                    <div class="form-group">
                                        <input name="con_name" type="text">
                                        <label>Name</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h5>Password</h5>
                                    <div class="form-group">
                                        <input name="con_password" type="password">
                                        <label>Password</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>

                                <div class="col-lg-12">
                                    <h5>Textarea</h5>
                                    <div class="form-group">
                                        <textarea></textarea>
                                        <label>Textarea</label>
                                        <span class="focus-border"></span>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h5>Checkbox</h5>
                                    <p class="fu-checkbox__wrapper mb--5">
                                        <input id="fu-checkbox--1" name="fu-checkbox--1" type="checkbox" value="yes">
                                        <label for="fu-checkbox--1">Option One</label>
                                    </p>
                                    <p class="fu-checkbox__wrapper">
                                        <input id="fu-checkbox--2" name="fu-checkbox--2" type="checkbox" value="yes">
                                        <label for="fu-checkbox--2">Option Two</label>
                                    </p>
                                </div>

                                <div class="col-lg-6">
                                    <h5>Radio</h5>
                                    <div class="fu-form__check">
                                        <input class="form-check-input" type="radio" name="fu-radio" id="fu-radio--1">
                                        <label class="form-check-label" for="fu-radio--1"> Option One</label>
                                    </div>
                                    <div class="fu-form__check">
                                        <input class="form-check-input" type="radio" name="fu-radio" id="fu-radio--2">
                                        <label class="form-check-label" for="fu-radio--2"> Option Two</label>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h5>Disabled Checkbox</h5>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDisabled" disabled>
                                        <label class="form-check-label" for="flexCheckDisabled">
                                            Disabled checkbox
                                        </label>
                                    </div>

                                </div>

                                <div class="col-lg-6">
                                    <h5>Disabled Radio</h5>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioDisabled" disabled>
                                        <label class="form-check-label" for="flexRadioDisabled">
                                            Disabled radio
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDisabled" id="flexRadioCheckedDisabled" checked disabled>
                                        <label class="form-check-label" for="flexRadioCheckedDisabled">
                                            Disabled checked radio
                                        </label>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h5>Default switch checkbox input</h5>
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                                        <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
                                    </div>
                                </div>


                                <div class="col-lg-6">
                                    <h5>Select</h5>
                                    <div class="fu-modern__select bg-transparent height-45">
                                        <select class="w-100">
                                            <option>Barisal</option>
                                            <option>Dhaka</option>
                                            <option>Khulna</option>
                                            <option>Comilla</option>
                                            <option>Chittagong</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <h5>Select</h5>
                                    <div class="fu-modern__select bg-transparent height-45 w-100">
                                        <select class="w-100" data-live-search="true" title="Select Author" multiple data-size="7" data-actions-box="true" data-selected-text-format="count > 2">
                                            <option data-subtext="Experts">Janin Afsana</option>
                                            <option data-subtext="Experts">Joe Biden</option>
                                            <option data-subtext="Experts">Fatima Asrafy</option>
                                            <option data-subtext="Experts">Aysha Baby</option>
                                            <option data-subtext="Experts">Mohamad Ali</option>
                                            <option data-subtext="Experts">Jone Li</option>
                                            <option data-subtext="Experts">Alberd Roce</option>
                                            <option data-subtext="Experts">Zeliski Noor</option>
                                        </select>
                                    </div>
                                </div>




                            </div>
                        </div>
                    </div>

                    <div id="pagination" class="fu-elements-area bg-color-white fu-shadow__box mb--60">
                        <div class="wrapper">
                            <div class="section-title">
                                <h4 class="fu-title--style-3">Pagination</h4>
                            </div>
                            <div class="row g-5">
                                <div class="col-lg-12">
                                    <nav>
                                        <ul class="fu-pagination justify-content-start">
                                            <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li class="active"><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-12">
                                    <nav>
                                        <ul class="fu-pagination justify-content-center">
                                            <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li class="active"><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="col-lg-12">
                                    <nav>
                                        <ul class="fu-pagination justify-content-end">
                                            <li><a href="#" aria-label="Previous"><i class="feather-chevron-left"></i></a></li>
                                            <li><a href="#">1</a></li>
                                            <li class="active"><a href="#">2</a></li>
                                            <li><a href="#">3</a></li>
                                            <li><a href="#" aria-label="Next"><i class="feather-chevron-right"></i></a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="tooltips" class="fu-elements-area bg-color-white fu-shadow__box mb--60">
                        <div class="wrapper">
                            <div class="section-title">
                                <h4 class="fu-title--style-3">Tooltips</h4>
                            </div>
                            <div class="row g-5">
                                <div class="col-lg-6">
                                    <div class="profile-share">
                                        <a href="#" class="avatar" data-tooltip="Mark JOrdan" tabindex="0"><img src="assets/images/testimonial/client-04.png" alt="education"></a>
                                        <a href="#" class="avatar" data-tooltip="Mark" tabindex="0"><img src="assets/images/testimonial/client-05.png" alt="education"></a>
                                        <a href="#" class="avatar" data-tooltip="Jordan" tabindex="0"><img src="assets/images/testimonial/client-06.png" alt="education"></a>
                                        <div class="more-author-text">
                                            <h5 class="total-join-students">Join Over 3000+ Students</h5>
                                            <p class="subtitle">Have a new ideas every week.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="avatars" class="fu-elements-area bg-color-white fu-shadow__box mb--60">
                        <div class="wrapper">
                            <div class="section-title">
                                <h4 class="fu-title--style-3">Avatars</h4>
                            </div>
                            <div class="row g-5 align-items-center">
                                <div class="col-lg-2">
                                    <div class="fu-avatars m-auto size-lg">
                                        <img src="assets/images/testimonial/testimonial-1.jpg" alt="Author Images">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="fu-avatars m-auto">
                                        <img src="assets/images/testimonial/testimonial-2.jpg" alt="Author Images">
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="fu-avatars m-auto size-sm">
                                        <img src="assets/images/testimonial/testimonial-3.jpg" alt="Author Images">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="animatedHeading" class="fu-elements-area bg-color-white fu-shadow__box mb--60">
                        <div class="wrapper">
                            <div class="section-title">
                                <h4 class="fu-title--style-3">Animated Heading</h4>
                            </div>
                            <div class="row g-5">
                                <div class="col-lg-12">

                                    <h3 class="title">Clip Animated
                                        <span class="header-caption">
                                            <span class="cd-headline clip is-full-width">
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible theme-gradient">Clip One.</b>
                                                    <b class="is-hidden theme-gradient">Clip Two.</b>
                                                    <b class="is-hidden theme-gradient">Clip Three.</b>
                                                </span>
                                        </span>
                                        </span>
                                    </h3>

                                    <h3 class="title">Rotate Animated
                                        <span class="header-caption">
                                            <span class="cd-headline rotate-1">
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible theme-gradient">Rotate One.</b>
                                                    <b class="is-hidden theme-gradient">Rotate Two.</b>
                                                    <b class="is-hidden theme-gradient">Rotate Three.</b>
                                                </span>
                                        </span>
                                        </span>
                                    </h3>

                                    <h3 class="title">Type Animated
                                        <span class="header-caption">
                                            <span class="cd-headline type">
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible theme-gradient">Type One.</b>
                                                    <b class="is-hidden theme-gradient">Type Two.</b>
                                                    <b class="is-hidden theme-gradient">Type Three.</b>
                                                </span>
                                        </span>
                                        </span>
                                    </h3>

                                    <h3 class="title">Loading Animated
                                        <span class="header-caption">
                                            <span class="cd-headline loading-bar">
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible theme-gradient">Loading One.</b>
                                                    <b class="is-hidden theme-gradient">Loading Two.</b>
                                                    <b class="is-hidden theme-gradient">Loading Three.</b>
                                                </span>
                                        </span>
                                        </span>
                                    </h3>

                                    <h3 class="title">Zoom Animated
                                        <span class="header-caption">
                                            <span class="cd-headline zoom">
                                                <span class="cd-words-wrapper">
                                                    <b class="is-visible theme-gradient">Zoom One.</b>
                                                    <b class="is-hidden theme-gradient">Zoom Two.</b>
                                                    <b class="is-hidden theme-gradient">Zoom Three.</b>
                                                </span>
                                        </span>
                                        </span>
                                    </h3>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <div class="fu-separator--mid">
        <div class="container">
            <hr class="fu-separator m-0">
        </div>
    </div>
    <!-- @include components/Footer.html -->
    <!-- @include components/Scripts.html -->