{% load wagtailcore_tags wagtailimages_tags %}

    {% if block.block_type == "page_title" %}
        {% if block.value.page_title_background %}
        {% image block.value.page_title_background fill-1920x600 as bg %}
        <section class="page__title p-relative pt-200 pb-200" data-background="{{ bg.url }}">
        {% else %}
        <section class="page__title p-relative pt-200 pb-200" data-background="">
        {% endif %}
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="page__title-inner text-center">
                            <div class="page__title-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="/">{{ block.value.breadcrumb_home_text }}</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">{{ page.title }}</li>
                                    </ol>
                                </nav>
                            </div>
                            <h1>{{ block.value.page_title }}</h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
