{% extends 'base.html' %}
{% load static unfold i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}
{% load render_bundle from webpack_loader %}
{% block meta %}
{% include 'partials/meta.html' %}
{% endblock meta %}
{% block html_attr %}data-theme="light"{% endblock html_attr %}
{% block styles %}
    {% render_bundle 'static' 'css' %}
{% endblock styles %}

{% block extrastyle %}
    {{ block.super }}
    <link href="{% static 'fonts/flat-icons/flaticons.css' %}" rel="stylesheet" />
{% endblock %}
{% block css %}
{% endblock css %}

{% block extra_head %}
{% endblock extra_head %}

{% block loader %}
{% endblock loader %}

{% block header %}
{% endblock header %}


{% block bodyclass %}auth-page{% endblock %}


{% block body_attr %}
data-page="auth"
{% endblock body_attr %}

{% block body %}
<main class="auth-container auth-container--vars" {% if request.user.is_authenticated %}hx-disabled="true"{% endif %}>

  {% block content %}
  {% endblock content %}
</main>
{% endblock body %}


{% block extra_body %}
{{ block.super }}
{% if PASSKEY_LOGIN_ENABLED %}
{% include "mfa/webauthn/snippets/login_script.html" with button_id="passkey_login" %}
{% endif %}
{% endblock %}


{% block scripts %}
    {% render_bundle 'static' 'js' %}
{% endblock scripts %}

{% block extra_scripts %}
    {{ block.super }}
{% endblock %}


{% block extra_assets %}
    {{ block.super }}
{% endblock %}

