{% load static i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}

{% for block in page.head %}
    {% if block.block_type == 'page_title' %}
        {% comp "content.page_title" block=block / %}
    {% endif %}
{% endfor %}

{% for block in page.contact_info %}
    {% if block.block_type == 'contact_info' %}
        {% comp "contact.sections.info" block=block / %}
    {% endif %}
{% endfor %}

{% for block in page.map %}
    {% if block.block_type == 'map' %}
        {% comp "contact.sections.map" block=block / %}
    {% endif %}
{% endfor %}

{% for block in page.faq %}
    {% if block.block_type == 'faq' %}
        {% comp "contact.sections.faq" block=block / %}
    {% endif %}
{% endfor %}

{% for block in page.contact_form %}
    {% if block.block_type == 'contact_form' %}
        {% comp "contact.sections.form" block=block / %}
    {% endif %}
{% endfor %}
