{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}{% trans "Password changed" %}{% endblock %}
{% block auth_heading %}{% trans "Password changed" %}{% endblock %}
{% block auth_inner %}
<p class="loop-lede">Your password has been reset. Sign in with the new password to continue.</p>
<div class="loop-auth-card__actions"><a class="loop-button loop-button--primary" href="{% url 'account_login' %}">{% trans "Sign in" %}</a></div>
{% endblock %}
