{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}{% trans "Change password" %}{% endblock %}
{% block auth_heading %}{% trans "Change password" %}{% endblock %}
{% block auth_inner %}
<p class="loop-lede">Update the password used to sign in to this workspace.</p>
{% if form.non_field_errors %}<ul class="errorlist">{% for error in form.non_field_errors %}<li>{{ error }}</li>{% endfor %}</ul>{% endif %}
<form method="post" action="{% url 'account_change_password' %}">
  {% csrf_token %}
  {% for field in form %}{% if field.is_hidden %}{{ field }}{% else %}<p><label for="{{ field.id_for_label }}">{{ field.label }}</label>{{ field }}{% if field.help_text %}<span class="helptext">{{ field.help_text }}</span>{% endif %}{% for error in field.errors %}<span class="helptext" style="color:#ffaaa1">{{ error }}</span>{% endfor %}</p>{% endif %}{% endfor %}
  <div class="loop-auth-card__actions"><button class="loop-button loop-button--primary" type="submit">{% trans "Change password" %}</button><a class="loop-auth-card__link" href="{% url 'account_email' %}">{% trans "Manage email" %}</a></div>
</form>
{% endblock %}
