{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}{% trans "Verify your email" %}{% endblock %}
{% block auth_heading %}{% trans "Verify your email" %}{% endblock %}
{% block auth_inner %}
<p class="loop-lede">A verification link has been sent to your address. Click it to activate the account.</p>
<div class="loop-auth-card__actions"><a class="loop-button loop-button--primary" href="{% url 'account_login' %}">{% trans "Return to sign in" %}</a></div>
{% endblock %}
