.lightbox-image-box,
.lightbox-media-box {
  position: relative;
  overflow: hidden;
  display: block;
}

.lightbox-image-box[class*='border-radius'],
.lightbox-media-box[class*='border-radius'] {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.lightbox-image-box:after,
.lightbox-media-box:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  background: var(--color-lightbox-overlay);
  -webkit-transition: ease-out 0.12s;
  transition: ease-out 0.12s;
}

.lightbox-image-box img,
.lightbox-media-box img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.lightbox-image-box i,
.lightbox-media-box i {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: var(--color-lightbox-icon-bg);
  width: 60px;
  height: 60px;
  
  text-align: center;
  line-height: 60px;
  color: var(--color-lightbox-icon-color);
  -webkit-transition: ease-out 0.16s;
  transition: ease-out 0.16s;
}

.lightbox-image-box.icon-xl i,
.lightbox-media-box.icon-xl i {
  width: 70px;
  height: 70px;
  line-height: 70px;
}

.lightbox-image-box:hover:after,
.lightbox-media-box:hover:after {
  opacity: 1;
}

.lightbox-image-box:hover img,
.lightbox-media-box:hover img {
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}

.lightbox-image-box:hover i,
.lightbox-media-box:hover i {
  -webkit-transform: translate(-50%, -50%) scale(0.94);
  transform: translate(-50%, -50%) scale(0.94);
}

.mfp-bg {
  background: var(--color-named-black);
}

.mfp-container,
.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: ease-out 0.16s;
  transition: ease-out 0.16s;
}

.mfp-container {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
  padding: 0 20px;
}

.mfp-ready .mfp-container {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}

.mfp-ready.mfp-bg {
  opacity: 0.97;
}

.mfp-removing .mfp-container,
.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-removing .mfp-container {
  -webkit-transform: scale(0.98);
  transform: scale(0.98);
}

button.mfp-close {
  display: block;
  top: -5px;
  opacity: 1;
  width: auto;
  height: auto;
  line-height: auto;
  font-size: 24px;
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

button.mfp-close:hover {
  top: -5px;
  opacity: 1;
  color: var(--color-text-primary);
}

.mfp-close-btn-in .mfp-close {
  color: var(--color-white-opacity-70);
}

.mfp-arrow {
  -webkit-transition: linear 0.1s;
  transition: linear 0.1s;
}

@media (max-width: 575.98px) {
  button.mfp-arrow {
    background: var(--color-overlay-gradient);
    width: 70px;
    height: 70px;
    margin-top: -35px;
  }

  button.mfp-arrow:active {
    margin-top: -35px;
  }
}

.mfp-bottom-bar {
  margin-top: -30px;
}

.mfp-bottom-bar .mfp-title {
  color: var(--color-white-opacity-70);
}

.mfp-bottom-bar .mfp-counter {
  color: var(--color-white-opacity-06);
  font-size: 14px;
}

.mfp-iframe-scaler iframe,
.mfp-figure::after {
  -webkit-box-shadow: 0 0 14px 0 var(--color-opacity-30);
  box-shadow: 0 0 14px 0 var(--color-opacity-30);
}