{% extends 'base.html' %}
{% load i18n static unfold %}
{% load webpack_loader %}
{% block meta %}
    {% comp 'partials/meta.html' /%}
{% endblock meta %}
{% block html_attr %}
    data-usecase="landing" data-sidenav-view="{{ sidenav }}" {% endblock html_attr %}
{% block styles %}
    {% render_bundle 'static' 'css' %}
{% endblock styles %}

{% block extrastyle %}
    {{ block.super }}

{% endblock %}

{% block extra_head %}
{% endblock extra_head %}

{% block loader %}
{% endblock loader %}

 {% block header %}
    {% comp 'landing/header/landing.html' /%}
{% endblock header %}

{% block body %}

    {# ====================================================== #}
    {# Theme colors and body-level custom attributes          #}
    {# ====================================================== #}

    {# ====================================================== #}
    {# Loader (optional preloader animation)                  #}
    {# ====================================================== #}
    {# ====================================================== #}
    {# Header Section (navigation, logo, breadcrumbs, etc.)   #}
    {# ====================================================== #}
    {# ====================================================== #}
    {# Main Body / Content                                    #}
    {# ====================================================== #}

    <main class="landing-shell" data-usecase="landing" data-animate="fade-up">
    {% block content %}

    {% endblock content %}
    </main>
    {# ====================================================== #}
    {# Footer Section                                         #}
    {# ====================================================== #}
    {% block footer %}
        {% comp 'landing/footer.html' /%}
    {% endblock footer %}

    {# ====================================================== #}
    {# Modals / Dialogs / Popups                              #}
    {# ====================================================== #}
    {% block modal %}
    {% endblock modal %}

{% endblock body %}

{% block scripts %}
    {% render_bundle 'static' 'js' %}
{% endblock scripts %}

{% block extra_scripts %}
    {{ block.super }}
{% endblock %}

{% block extra_assets %}
    {{ block.super }}
{% endblock %}

