<!-- Start Breadcrumb Area  -->
                            <ul class="page-list">
                                <li class="fu-breadcrumb__item"><a href="index.html">Home</a></li>
                                <li>
                                    <div class="icon-right"><i class="feather-chevron-right"></i></div>
                                </li>
                                <li class="fu-breadcrumb__item active">All Courses</li>
                            </ul>
                            <!-- End Breadcrumb Area  -->