{% load wagtailadmin_tags i18n %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle d-flex align-items-center gap-2" href="#" id="userMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <span>{% avatar_url user 32 %}</span>
        <span>{{ user|user_display_name }}</span>
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenu">
        <li><a class="dropdown-item" href="{% url 'wagtailadmin_account' %}">{% trans "Account" %}</a></li>
        <li><a class="dropdown-item" href="#" onclick="toggleTheme()">{% trans "Toggle dark mode" %}</a></li>
        <li><hr class="dropdown-divider"></li>
        <li>
            <form action="{% url 'wagtailadmin_logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">{% trans "Log out" %}</button>
            </form>
        </li>
    </ul>
</li>
