/*!
 * Masonry and grid layouts
 * File: grid.css
 * Category: layout
 * Generated: 2025-12-16 22:01:11
 * Size: 875 bytes
 * Lines: 49
 */

.masonry {
  margin: 0 -1em -2em;
}

.masonry .masonry-item {
  margin-bottom: 2em;
  padding: 0 1em;
}

.masonry.column-1 .masonry-item {
  width: 100%;
}

.grid-masonry .grid-item {
  width: 100%;
}

.grid-masonry .grid-item {
  text-align: left;
}

.grid-masonry.column-1 .grid-item {
  width: 100%;
}

.grid-masonry[class*='border-radius'] .grid-item .grid-box,
.grid-grid[class*='border-radius'] .grid-item .grid-box {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  overflow: hidden;
}

.grid-masonry.border-radius .grid-item .grid-box,
.grid-grid.border-radius .grid-item .grid-box {
  
}

.grid-masonry.border-radius-1 .grid-item .grid-box,
.grid-grid.border-radius-1 .grid-item .grid-box {
  
}

.text-center .grid-item {
  text-align: center;
}

.text-end .grid-item {
  text-align: right;
}