{% load laces %}
{% load wagtailcore_tags wagtailimages_tags %}


{% for block in page.head %}
{% if block.block_type == 'page_title' %}
{% comp "content.page_title" / %}
{% endif %}
{% endfor %}


{% for block in page.facts %}
{% if block.block_type == 'about' %}
{% include "about/sections/about.html" %}
{% elif block.block_type == 'testimonials' %}
{% include "about/sections/testimonials.html" %}
{% elif block.block_type == 'clients' %}
{% include "about/sections/clients.html" %}
{% endif %}
{% endfor %}
