{% load i18n static wagtailimages_tags %}

<li class="testimonials__item">
  <div class="testimonials__card" data-testimonials-item>
    <figure class="testimonials__avatar">
      {% if self.avatar %}
        {% image self.avatar fill-60x60 as t_avatar %}
        <img src="{{ t_avatar.url }}" alt="{{ self.name }}" width="60" data-testimonials-avatar>
      {% endif %}
    </figure>
    <h4 class="h4 testimonials__name" data-testimonials-title>{{ self.name }}</h4>
    <div class="testimonials__text" data-testimonials-text>
      <p>{{ self.text }}</p>
    </div>
  </div>
</li>
