{% load static i18n wagtailcore_tags wagtailimages_tags wagtailsettings_tags %}


{% if brand_settings and brand_settings.logo %}
{% image brand_settings.logo max-165x120 as logo %}
{% endif %}

<!-- header area start -->
<div class="header center right transparent-light header-color-dark sticky-autohide">
    <div class="container">
        <!-- Logo -->
        
        {% comp "partials/logo.html" /%}
        
        {% comp "partials/header_links.html" /%}
        {% comp "partials/header_extra.html" /%}

       
    </div>

</div>
<!-- header area end -->