{% load i18n %}

        <main>

            <!-- page title area start -->
            <section class="page__title p-relative pt-200 pb-200" data-background="assets/img/page-title/page-title-6.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="page__title-inner text-center">
                                <div class="page__title-breadcrumb">                                 
                                        <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">{% trans "Home" %}</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Case Studies</li>
                                        </ol>
                                        </nav>
                                </div>
                                <h1>{% trans "Our Case Studies" %}</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title area end -->
                
            <!-- case area start -->
            <section class="case__area pt-110 ">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-8 offset-xl-2">
                            <div class="section__title mb-60 pl-50 pr-50 text-center">
                                <h1>{% trans "Professional Psychologist Team Ready to Serve you" %}</h1>
                                <div class="section__icon mb-10">
                                    <span class="section__sub-title section__sub-title-2 section__sub-title-3 section__sub-title-4">{% trans "Expert member" %}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="masonary-menu case__menu filter-button-group text-center mb-20">
                                <button class="active" data-filter="*">{% trans "All Department" %}</button>
                                <button data-filter=".cat1">{% trans "Family Problem" %}</button>
                                <button data-filter=".cat2">{% trans "Depression" %}</button>
                                <button data-filter=".cat3">{% trans "Personal" %}</button>
                                <button data-filter=".cat4">{% trans "Breakup" %}</button>
                                <button data-filter=".cat5">{% trans "Frustation" %}</button>
                            </div>
                        </div>
                    </div>
                    <div class="row grid">
                        <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat1 cat4 cat3">
                            <div class="case__item-2 p-relative mb-30">
                                <div class="case__thumb-2 w-img">
                                    <img src="assets/img/case/02/case-04.jpg" alt="case-01">
                                </div>
                                <div class="case__content-2 transition-3 grey-bg-3 p-relative">
                                    <h3><a href="case-details.html">{% trans "Personality Disorder" %}</a></h3>
                                    <p>{% trans "Fames nostra nascetur dis id pellentree at ligula auctor metus semper convalis ligula augue natoque" %}</p>
                                    <a href="case-details.html" class="link-btn">{% trans "explore more" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat2 cat5">
                            <div class="case__item-2 p-relative mb-30">
                                <div class="case__thumb-2 w-img">
                                    <img src="assets/img/case/02/case-05.jpg" alt="case-01">
                                </div>
                                <div class="case__content-2 transition-3 grey-bg-3 p-relative">
                                    <h3><a href="case-details.html">{% trans "Dysmorphic Disorder" %}</a></h3>
                                    <p>{% trans "Fames nostra nascetur dis id pellentree at ligula auctor metus semper convalis ligula augue natoque" %}</p>
                                    <a href="case-details.html" class="link-btn">{% trans "explore more" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat4 cat1">
                            <div class="case__item-2 p-relative mb-30">
                                <div class="case__thumb-2 w-img">
                                    <img src="assets/img/case/02/case-06.jpg" alt="case-01">
                                </div>
                                <div class="case__content-2 transition-3 grey-bg-3 p-relative">
                                    <h3><a href="case-details.html">{% trans "Behavioral Symptoms" %}</a></h3>
                                    <p>{% trans "Fames nostra nascetur dis id pellentree at ligula auctor metus semper convalis ligula augue natoque" %}</p>
                                    <a href="case-details.html" class="link-btn">{% trans "explore more" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 grid-item  cat3 cat5">
                            <div class="case__item-2 p-relative mb-30">
                                <div class="case__thumb-2 w-img">
                                    <img src="assets/img/case/02/case-01.jpg" alt="case-01">
                                </div>
                                <div class="case__content-2 transition-3 grey-bg-3 p-relative">
                                    <h3><a href="case-details.html">{% trans "Children Disorder" %}</a></h3>
                                    <p>{% trans "Fames nostra nascetur dis id pellentree at ligula auctor metus semper convalis ligula augue natoque" %}</p>
                                    <a href="case-details.html" class="link-btn">{% trans "explore more" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat4 cat3">
                            <div class="case__item-2 p-relative mb-30">
                                <div class="case__thumb-2 w-img">
                                    <img src="assets/img/case/02/case-02.jpg" alt="case-01">
                                </div>
                                <div class="case__content-2 transition-3 grey-bg-3 p-relative">
                                    <h3><a href="case-details.html">{% trans "Depression Problem" %}</a></h3>
                                    <p>{% trans "Fames nostra nascetur dis id pellentree at ligula auctor metus semper convalis ligula augue natoque" %}</p>
                                    <a href="case-details.html" class="link-btn">{% trans "explore more" %}</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 grid-item cat3 cat5">
                            <div class="case__item-2 p-relative mb-30">
                                <div class="case__thumb-2 w-img">
                                    <img src="assets/img/case/02/case-03.jpg" alt="case-01">
                                </div>
                                <div class="case__content-2 transition-3 grey-bg-3 p-relative">
                                    <h3><a href="case-details.html">{% trans "Couple Counseling" %}</a></h3>
                                    <p>{% trans "Fames nostra nascetur dis id pellentree at ligula auctor metus semper convalis ligula augue natoque" %}</p>
                                    <a href="case-details.html" class="link-btn">{% trans "explore more" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- case area end -->

            <!-- client area start -->
            <div class="client__area-3 pt-20 pb-50">
                <div class="container">
                    <div class="row gx-0">
                        <div class="col-xl-12">
                            <div class="client__slider client__slider-active owl-carousel text-center">
                                <div class="client__thumb">
                                    <a href="#"><img src="assets/img/client/03/client-01.png" alt="client-1"></a>
                                </div>
                                <div class="client__thumb">
                                    <a href="#"><img src="assets/img/client/03/client-02.png" alt="client-1"></a>
                                </div>
                                <div class="client__thumb">
                                    <a href="#"><img src="assets/img/client/03/client-03.png" alt="client-1"></a>
                                </div>
                                <div class="client__thumb">
                                    <a href="#"><img src="assets/img/client/03/client-04.png" alt="client-1"></a>
                                </div>
                                <div class="client__thumb">
                                    <a href="#"><img src="assets/img/client/03/client-05.png" alt="client-1"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- client area end -->

        </main>
