<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Shared on THEMELOCK.COM - Sycho - Psychology and Counseling HTML5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.jpg">
        
		<!-- CSS here -->
        <link rel="stylesheet" href="assets/css/preloader.css">
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/slick.css">
        <link rel="stylesheet" href="assets/css/metisMenu.css">
        <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="assets/css/animate.min.css">
        <link rel="stylesheet" href="assets/css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="assets/css/all.min.css">
        <link rel="stylesheet" href="assets/css/flaticon.css">
        <link rel="stylesheet" href="assets/css/nice-select.css">
        <link rel="stylesheet" href="assets/css/default.css">
        <link rel="stylesheet" href="assets/css/style.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        <!-- Add your site or application content here -->  

        <!-- pre loader area start -->
        <div id="loading">
            <div id="loading-center">
                <div id="loading-center-absolute">
                    <div class="object" id="object_one"></div>
                    <div class="object" id="object_two"></div>
                    <div class="object" id="object_three"></div>
                </div>
            </div> 
        </div>
        <!-- pre loader area end -->


        <!-- header area start -->
        <header>
            <div class="header-area">
                <div class="header__top header__top-3 d-none d-md-block box-105">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 col-8">
                                <div class="header__top-left">
                                    <div class="logo-2 logo-3">
                                        <a href="index-3.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-9 col-md-8 col-sm-6 col-4">
                                <div class="header__top-right d-flex justify-content-end">
                                    <div class="header__info d-none d-lg-flex">
                                        <div class="header__info-icon">
                                            <span class="icon flaticon-history"></span>
                                        </div>
                                        <div class="header__info-text">
                                            <span>opening:</span>
                                            <span> Sunday to Thursday</span>
                                        </div>
                                    </div>
                                    <div class="header__info d-none d-md-flex">
                                        <div class="header__info-icon">
                                            <span class="icon flaticon-24-hours-support"></span>
                                        </div>
                                        <div class="header__info-text">
                                            <span>Call us:</span>
                                            <span>(202) 588-6500</span>
                                        </div>
                                    </div>
                                    <div class="header__info d-none d-md-flex">
                                        <div class="header__info-icon">
                                            <span class="icon flaticon-envelope"></span>
                                        </div>
                                        <div class="header__info-text">
                                            <span>e-mail:</span>
                                            <span>info@sycho24.com</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="header-sticky" class="header__bottom-3 box-105">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <div class="col-xl-7 col-lg-8 col-md-10 col-sm-6 col-8">
                                <div class="main-menu main-menu-2 main-menu-3 d-none d-md-block">
                                    <nav>
                                        <ul>
                                            <li><a href="index.html">home</a>
                                                <ul class="submenu">
                                                    <li><a href="index.html">home style one</a></li>
                                                    <li><a href="index-2.html">home style two</a></li>
                                                    <li><a href="index-3.html">home style three</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="about-us.html">about</a>
                                                <ul class="submenu">
                                                    <li><a href="about-us.html">about us</a></li>
                                                    <li><a href="about-me.html">about me</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="services.html">services</a>
                                                <ul class="submenu">
                                                    <li><a href="services.html">services</a></li>
                                                    <li><a href="services-details.html">service details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="case.html">cases</a>
                                                <ul class="submenu">
                                                    <li><a href="case.html">cases</a></li>
                                                    <li><a href="case-details.html">case details</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#">pages</a>
                                                <ul class="submenu">
                                                    <li><a href="team.html">our team</a></li>
                                                    <li><a href="team-details.html">team details</a></li>
                                                    <li><a href="events.html">events and offers</a></li>
                                                    <li><a href="appointment.html">appointment</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="blog.html">blog</a>
                                                <ul class="submenu">
                                                    <li><a href="blog.html">blog </a></li>
                                                    <li><a href="blog-left-sidebar.html">blog Left Sidebar</a></li>
                                                    <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                                    <li><a href="blog-2-col.html">blog 2 column</a></li>
                                                    <li><a href="blog-2-col-mas.html">blog 2 col masonary</a></li>
                                                    <li><a href="blog-3-col.html">blog 3 column</a></li>
                                                    <li><a href="blog-3-col-mas.html">blog 3 col mas</a></li>
                                                    <li><a href="blog-details.html">blog details</a></li>
                                                    <li><a href="blog-details-left.html">details left sidebar</a></li>
                                                    <li><a href="blog-details-video.html">details video</a></li>
                                                    <li><a href="blog-details-audio.html">details audio</a></li>
                                                    <li><a href="blog-details-gallery.html">details gallery</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="contact.html">contact</a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <div class="logo-2 logo-3 text-center d-md-none">
                                    <a href="index-3.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                                </div>
                            </div>
                            <div class="col-xl-5 col-lg-4 col-md-2 col-sm-6 col-4">
                                <div class="header__bottom-3-right d-flex justify-content-end align-items-center">
                                    <div class="social social-border d-none d-xl-block">
                                        <ul>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                    <div class="header__btn ml-35 d-none d-lg-block">
                                        <a href="contact.html" class="s-btn s-btn__square">Contact Us Now</a>
                                    </div>
                                    <div class="header-bar header-bar-2 info-toggle-btn f-right d-md-block d-lg-none">
                                        <span></span>
                                        <span></span>
                                        <span></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header area start -->
                
        <!-- info area start -->
        <section class="info__area transition-3">
            <div class="info__area-inner">
                <div class="info__area-wrapper info__area-wrapper-3">
                    <div class="info__close-icon text-end">
                        <button class="info-close-btn"><i class="fal fa-times"></i></button>
                    </div>
                    <div class="info__wrapper">
                        <div class="info__logo mt-25 mb-30">
                            <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                        </div>
    
                        <div class="info__content">
                            <h4>About Us</h4>
                            <p>We must explain to you how all seds this mistakens idea off denouncing pleasures and praising pain was born and I will give you a completed accounts of the system and expound.</p>
    
                            <a href="contact.html" class="s-btn s-btn__white">Contact us</a>
                        </div>
                        <div class="info__contact">
                            <h3>contact info</h3>
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fal fa-map-marker-alt"></i>
                                    </div>
                                    <div class="text">
                                        <span>123/A, Miranda City Likaoli Prikano, Dope United States </span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fal fa-phone"></i>
                                    </div>
                                    <div class="text">
                                        <span>+0989 7876 9865 9</span>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fal fa-envelope-open"></i>
                                    </div>
                                    <div class="text">
                                        <span>info@example.com</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- side-mobile-menu start -->
                <nav class="side-mobile-menu side-mobile-menu-3">
                    <div class="info__close-icon text-end mb-20">
                        <button class="info-close-btn"><i class="fal fa-times"></i></button>
                    </div>
                    <ul id="mobile-menu-active">
                        <li class="has-dropdown"><a href="index.html">home</a>
                            <ul class="submenu">
                                <li><a href="index.html">home style one</a></li>
                                <li><a href="index-2.html">home style two</a></li>
                                <li><a href="index-3.html">home style three</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="about-us.html">about</a>
                            <ul class="submenu">
                                <li><a href="about-us.html">about us</a></li>
                                <li><a href="about-me.html">about me</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"> <a href="services.html">services</a>
                            <ul class="submenu">
                                <li><a href="services.html">services</a></li>
                                <li><a href="services-details.html">service details</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="case.html">cases</a>
                            <ul class="submenu">
                                <li><a href="case.html">case </a></li>
                                <li><a href="case-details.html">case details</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="#">pages</a>
                            <ul class="submenu">
                                <li><a href="team.html">our team</a></li>
                                <li><a href="team-details.html">team details</a></li>
                                <li><a href="events.html">events and offers</a></li>
                                <li><a href="appointment.html">appointment</a></li>
                            </ul>
                        </li>
                        <li class="has-dropdown"><a href="blog.html">blog</a>
                            <ul class="submenu">
                                <li><a href="blog.html">blog </a></li>
                                <li><a href="blog-left-sidebar.html">blog Left Sidebar</a></li>
                                <li><a href="blog-no-sidebar.html">blog no sidebar</a></li>
                                <li><a href="blog-2-col.html">blog 2 column</a></li>
                                <li><a href="blog-2-col-mas.html">blog 2 col masonary</a></li>
                                <li><a href="blog-3-col.html">blog 3 column</a></li>
                                <li><a href="blog-3-col-mas.html">blog 3 col mas</a></li>
                                <li><a href="blog-details.html">blog details</a></li>
                                <li><a href="blog-details-left.html">details left sidebar</a></li>
                                <li><a href="blog-details-video.html">details video</a></li>
                                <li><a href="blog-details-audio.html">details audio</a></li>
                                <li><a href="blog-details-gallery.html">details gallery</a></li>
                            </ul>
                        </li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </nav>
                <!-- side-mobile-menu end -->
            </div>
        </section>
        <div class="body-overlay transition-3"></div>
        <!-- info area end -->

        <!-- scroll up area start -->
        <div class="scroll-up" id="scroll" style="display: none;">
            <a href="javascript:void(0);"><i class="far fa-angle-up"></i></a>
        </div>
        <!-- scroll up area end -->

        <main>

            <!-- page title area start -->
            <section class="page__title p-relative pt-200 pb-200" data-background="assets/img/page-title/page-title-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="page__title-inner text-center">
                                <div class="page__title-breadcrumb">                                 
                                        <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Blog</li>
                                        </ol>
                                        </nav>
                                </div>
                                <h1>Latest Blogs</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title area end -->
                
            <!-- blog area start -->
            <section class="blog__area pt-120 pb-75">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="blog__wrapper">
                                <article class="postbox mb-40">
                                    <div class="postbox__thumb w-img">
                                        <a href="blog-details.html">
                                            <img src="assets/img/blog/blog-big-1.jpg" alt="blog image">
                                        </a>
                                    </div>
                                    <div class="postbox__content postbox__content-3 grey-bg">
                                        <div class="blog__meta blog__meta-2 blog__meta-4 blog__meta-5 mb-15">
                                            <span><a href="#"><i class="far fa-user"></i> Diboli B. Joly</a></span>
                                            <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                                        </div>
                                        <h3 class="postbox__title mb-20">
                                            <a href="blog-details.html">But there is a downside. Simply running a search for medical blogs.</a>
                                        </h3>
                                        <div class="postbox__text mb-10">
                                            <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health
                                            topics that consistently affect a wide range of people. They also get kudos for addressing the emotional challenges
                                            folks face when managing conditions.</p>
                                        </div>
                                        <div class="read-more">
                                            <a href="blog-details.html" class="link-btn">read more</a>
                                        </div>
                                    </div>
                                </article>  
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <article class="postbox format-video mb-40">
                                <div class="postbox__video p-relative w-img">
                                    <img src="assets/img/blog/video/blog-video.jpg" alt="blog image">
                                    <a class="postbox__video-btn play-btn play-btn-pink" href="https://youtu.be/yJg-Y5byMMw" data-fancybox><i class="fas fa-play"></i></a>
                                </div>
                                <div class="postbox__content postbox__content-3 grey-bg">
                                    <div class="blog__meta blog__meta-2 blog__meta-4 blog__meta-5 mb-15">
                                        <span><a href="#"><i class="far fa-user"></i> Salim Rana</a></span>
                                        <span><a href="#"><i class="far fa-comments"></i> 05 Comments</a></span>
                                    </div>
                                    <h3 class="postbox__title mb-20">
                                        <a href="blog-details.html">To help ease the process, we identified 75 of our favorite medical blogs.</a>
                                    </h3>
                                    <div class="postbox__text mb-10">
                                        <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health
                                        topics that consistently affect a wide range of people. They also get kudos for addressing the emotional challenges
                                        folks face when managing conditions.</p>
                                    </div>
                                    <div class="read-more">
                                        <a href="blog-details.html" class="link-btn">read more</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <article class="postbox format-gallery mb-40">
                                    <div class="postbox__gallery owl-carousel">
                                        <img src="assets/img/blog/gallery/blog-gallery-1.jpg" alt="blog image">
                                        <img src="assets/img/blog/gallery/blog-gallery-2.jpg" alt="blog image">
                                        <img src="assets/img/blog/gallery/blog-gallery-3.jpg" alt="blog image">
                                    </div>
                                <div class="postbox__content postbox__content-3 grey-bg">
                                    <div class="blog__meta blog__meta-2 blog__meta-4 blog__meta-5 mb-15">
                                        <span><a href="#"><i class="far fa-user"></i> Md Harun</a></span>
                                        <span><a href="#"><i class="far fa-comments"></i> 15 Comments</a></span>
                                    </div>
                                    <h3 class="postbox__title mb-20">
                                        <a href="blog-details.html">The well known health website has quite a collection of blogs.</a>
                                    </h3>
                                    <div class="postbox__text mb-10">
                                        <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health
                                        topics that consistently affect a wide range of people. They also get kudos for addressing the emotional challenges
                                        folks face when managing conditions.</p>
                                    </div>
                                    <div class="read-more">
                                        <a href="blog-details.html" class="link-btn">read more</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <article class="postbox format-audio mb-40">
                                    <div class="postbox__audio postbox__audio-2">
                                        <iframe src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/223568141&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
                                    </div>
                                <div class="postbox__content postbox__content-3 grey-bg">
                                    <div class="blog__meta blog__meta-2 blog__meta-4 blog__meta-5 mb-15">
                                        <span><a href="#"><i class="far fa-user"></i> Md Harun</a></span>
                                        <span><a href="#"><i class="far fa-comments"></i> 15 Comments</a></span>
                                    </div>
                                    <h3 class="postbox__title mb-20">
                                        <a href="blog-details.html">If you find yourself constantly bookmarking health sections on news.</a>
                                    </h3>
                                    <div class="postbox__text mb-10">
                                        <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health
                                        topics that consistently affect a wide range of people. They also get kudos for addressing the emotional challenges
                                        folks face when managing conditions.</p>
                                    </div>
                                    <div class="read-more">
                                        <a href="blog-details.html" class="link-btn">read more</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <article class="postbox mb-40">
                                <div class="postbox__thumb w-img">
                                    <a href="blog-details.html">
                                        <img src="assets/img/blog/blog-big-3.jpg" alt="blog image">
                                    </a>
                                </div>
                                <div class="postbox__content postbox__content-3 grey-bg">
                                    <div class="blog__meta blog__meta-2 blog__meta-4 blog__meta-5 mb-15">
                                        <span><a href="#"><i class="far fa-user"></i> Diboli B. Joly</a></span>
                                        <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                                    </div>
                                    <h3 class="postbox__title mb-20">
                                        <a href="blog-details.html">Everyday Health is the most appropriately named blog on this list</a>
                                    </h3>
                                    <div class="postbox__text mb-10">
                                        <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health
                                        topics that consistently affect a wide range of people. They also get kudos for addressing the emotional challenges
                                        folks face when managing conditions.</p>
                                    </div>
                                    <div class="read-more">
                                        <a href="blog-details.html" class="link-btn">read more</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <article class="postbox mb-40">
                                <div class="postbox__thumb w-img">
                                    <a href="blog-details.html">
                                        <img src="assets/img/blog/gallery/blog-gallery-3.jpg" alt="blog image">
                                    </a>
                                </div>
                                <div class="postbox__content postbox__content-3 grey-bg">
                                    <div class="blog__meta blog__meta-2 blog__meta-4 blog__meta-5 mb-15">
                                        <span><a href="#"><i class="far fa-user"></i> Diboli B. Joly</a></span>
                                        <span><a href="#"><i class="far fa-comments"></i> 23 Comments</a></span>
                                    </div>
                                    <h3 class="postbox__title mb-20">
                                        <a href="blog-details.html">They also get kudos for addressing the emotional challenges</a>
                                    </h3>
                                    <div class="postbox__text mb-10">
                                        <p>There’s a good chance Everyday Health is the most appropriately named blog on this list because it focuses on the health
                                        topics that consistently affect a wide range of people. They also get kudos for addressing the emotional challenges
                                        folks face when managing conditions.</p>
                                    </div>
                                    <div class="read-more">
                                        <a href="blog-details.html" class="link-btn">read more</a>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="basic-pagination mb-40 text-center">
                                <ul>
                                    <li><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                    <li><a href="#">01</a></li>
                                    <li class="active"><a href="#">02</a></li>
                                    <li><a href="#">03</a></li>
                                    <li><a href="#"><i class="fas fa-ellipsis-h"></i></a></li>
                                    <li><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog area end -->

        </main>

        <!-- footer area start -->
        <footer>
            <div class="footer__area pt-120 footer-bg">
                <div class="footer__top footer__top-3 pb-60">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-4">
                                <div class="footer__subscribe-title">
                                    <h3>Get our update in your inbox</h3>
                                </div>
                            </div>
                            <div class="col-xl-8">
                                <div class="footer__subscribe">
                                    <div class="footer__subscribe-form footer__subscribe-form-2 footer__subscribe-form-3 p-relative">
                                        <input type="text" placeholder="Write your email">
                                        <button class="s-btn s-btn__square"><i class="fal fa-paper-plane"></i>subscribe now</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__bottom pt-120 pb-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-50">
                                <div class="footer__widget">
                                    <div class="footer__widget-title mb-30">
                                        <div class="logo">
                                            <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                                        </div>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__logo-area">
                                            <p>Waters divided said alent kind seico winged form it tree after female the deep a itself an creepeth land bring place day sea doner </p>
        
                                            <div class="social">
                                                <h4>Follow us</h4>
                                                <ul>
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 offset-xl-1 mb-50">
                                <div class="footer__widget">
                                    <div class="footer__widget-title mb-25">
                                        <h2>Services</h2>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__services">
                                            <ul>
                                                <li><a href="services-details.html">Business Frustation</a></li>
                                                <li><a href="services-details.html">Anxiety Dosorder</a></li>
                                                <li><a href="services-details.html">Personal Meeting</a></li>
                                                <li><a href="services-details.html">Couple Therapy</a></li>
                                                <li><a href="services-details.html">Family Counselling</a></li>
                                                <li><a href="services-details.html">Dating & Relation</a></li>
                                                <li><a href="services-details.html">Depression Problem</a></li>
                                                <li><a href="services-details.html">Mental Problem</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-2 col-lg-6 col-md-6 col-sm-6 mb-50">
                                <div class="footer__widget">
                                    <div class="footer__widget-title mb-25">
                                        <h2>Contact Info</h2>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__contact-info">
                                            <ul>
                                                <li>
                                                    <div class="footer__contact-address">
                                                        <span>House no 35, Palmall street, London, England</span>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="footer__contact-item">
                                                        <h6>Email:</h6>
                                                        <p>info@basictheme.com</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="footer__contact-item">
                                                        <h6>Support:</h6>
                                                        <p>+1 325 562 3265</p>
                                                    </div>
                                                </li>
                                                <li>
                                                    <div class="footer__contact-item">
                                                        <h6>Website:</h6>
                                                        <p>www.basictheme.com</p>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 offset-xl-1 mb-50">
                                <div class="footer__widget">
                                    <div class="footer__widget-title mb-25">
                                        <h2>Instagram</h2>
                                    </div>
                                    <div class="footer__widget-content">
                                        <div class="footer__insta">
                                            <ul>
                                                <li><a href="#"><img src="assets/img/insta/insta-1.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/img/insta/insta-2.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/img/insta/insta-3.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/img/insta/insta-4.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/img/insta/insta-5.jpg" alt=""></a></li>
                                                <li><a href="#"><img src="assets/img/insta/insta-6.jpg" alt=""></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer__copyright footer__copyright-3 footer-bottom-bg">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 ">
                                <div class="footer__copyright-text">
                                    <p>Copyright © 2025 <a href="https://themeforest.net/user/theme_pure/portfolio" target="_blank"> ThemePure</a>. All Rights Reserved.</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6">
                                <div class="footer__policy ">
                                    <a href="#">Terms & Condition</a>
                                    <a href="#"> Privacy</a>
                                    <a href="#">Support</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer area end -->

		<!-- JS here -->
        <script src="assets/js/ext/jquery.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/waypoint.js"></script>
        <script src="assets/js/metisMenu.min.js"></script>
        <script src="assets/js/slick.min.js"></script>
        <script src="assets/js/jquery.fancybox.min.js"></script>
        <script src="assets/js/isotope.pkgd.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/ajax-form.js"></script>
        <script src="assets/js/jquery.nice-select.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/imagesloaded.pkgd.min.js"></script>
        <script src="assets/js/jquery.counterup.min.js"></script>
        <script src="assets/js/main.js"></script>
    </body>
</html> 