
        <main>

            <!-- page title area start -->
            <section class="page__title p-relative pt-200 pb-200" data-background="assets/img/page-title/page-title-3.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12">
                            <div class="page__title-inner text-center">
                                <div class="page__title-breadcrumb">                                 
                                        <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item"><a href="team.html">Team</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Donnie</li>
                                        </ol>
                                        </nav>
                                </div>
                                <h1>Donnie Anderson</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- page title area end -->
                
            
            <!-- team details area start -->
            <section class="team__details pt-120 pb-90">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4">
                            <div class="team__sidebar">
                                <div class="team__item mb-30">
                                    <div class="team__thumb w-img fix p-relative">
                                        <img class="transition-3" src="assets/img/team/03/team-01.jpg" alt="team-1">
                                    </div>
                                    <div class="team__content text-center white-bg transition-3">
                                        <div class="team__name">
                                            <h3><a href="team-details.html">Donnie Anderson</a></h3>
                                            <span>Sr. Psychologist</span>
                                        </div>
                                        <div class="team__info">
                                            <p>donniebere@gmail.com</p>
                                            <p>230-235-5020</p>
                                            <div class="team__social-2 social transition-3 mt-20">
                                                <ul>
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team__member-list grey-bg-3">
                                    <div class="sidebar-wrapper">
                                        <div class="sidebar-title">
                                            <h3>Psychologist</h3>
                                        </div>
                                        <div class="sidebar-list">
                                            <ul>
                                                <li><a href="team-details.html">Tashanu Canalse</a></li>
                                                <li><a href="team-details.html">Richard Sikora</a></li>
                                                <li><a href="team-details.html">Ristopher Givera</a></li>
                                                <li><a href="team-details.html">Steves Musayin</a></li>
                                                <li><a href="team-details.html">Charles  Hasvey</a></li>
                                                <li><a href="team-details.html">Daniel Lombard</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8">
                            <div class="team__details-wrapper">
                                <div class="team__details-item mb-30">
                                    <div class="team__details-title mb-20">
                                        <h2>Personal Biography</h2>
                                    </div>
                                    <div class="team__details-content">
                                        <div class="team__biography">
                                            <p>Days be tree great bearing to heaven land, third may they are you are creeping us own dont  here days hath fish form creeping. Man forth whales image the their best all had behold can not moved spirit you spirit moving forth over upon upon day likeness female fowle evening saw was fill man gathered creep ing replenish life of of god won't fish grass cattles that beast th years have replenish open you bearing forth yielding grass in the fifth beginning.</p>
                                            <p>Subdue signs also beaist he moveth can not own had greater after a lights give heaven under brought place dominion together. To of living give fill place there subdue make after made female meat lesser were first our midst deep abundantly brought.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="team__details-item mb-30">
                                    <div class="team__details-title mb-25">
                                        <h2>My Experience</h2>
                                    </div>
                                    <div class="team__details-content">
                                        <div class="team__experience">
                                            <div class="team__experience-item mb-20">
                                                <h2>Berlin Psychoanalytic Institute</h2>
                                                <div class="team__experience-meta">
                                                    <span>2008</span>
                                                    <span>2012</span>
                                                </div>
                                                <p>Greater after a lights give heaven under brought place dominion together to of living give fill place the subdue make after made in the female meat lesser</p>
                                            </div>
                                            <div class="team__experience-item mb-20">
                                                <h2>British Psychotherapy Foundation</h2>
                                                <div class="team__experience-meta">
                                                    <span>2012</span>
                                                    <span>2017</span>
                                                </div>
                                                <p>Greater after a lights give heaven under brought place dominion together to of living give fill place the subdue make after female meat. Lesser were first our midst deep abundantly brought.</p>
                                            </div>
                                            <div class="team__experience-item mb-20">
                                                <h2>Society of Analytical Psychology</h2>
                                                <div class="team__experience-meta">
                                                    <span>2008</span>
                                                    <span>2012</span>
                                                </div>
                                                <p>Fowl man sea heaven air man have a gathered bring signs land image behold have had fifth was great own so dry from multiply you'll without won all gathering all.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team__details-item">
                                    <div class="team__details-title mb-30">
                                        <h2>Expertise Area</h2>
                                    </div>
                                    <div class="team__details-content">
                                        <div class="team__experience-area">
                                            <div class="row">
                                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                                    <div class="team__experience-area-item text-center transition-3 mb-30">
                                                        <span class="icon flaticon-family"></span>
                                                        <h3>Family Counseling</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                                    <div class="team__experience-area-item text-center transition-3 mb-30">
                                                        <span class="icon flaticon-date"></span>
                                                        <h3>Couple Counseling</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                                    <div class="team__experience-area-item text-center transition-3 mb-30">
                                                        <span class="icon flaticon-relationship"></span>
                                                        <h3>Anxiety Disorder</h3>
                                                    </div>
                                                </div>
                                                <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
                                                    <div class="team__experience-area-item text-center transition-3 mb-30">
                                                        <span class="icon flaticon-heart"></span>
                                                        <h3>Dating & Relation</h3>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team__details-item mb-30">
                                    <div class="team__details-title mb-30">
                                        <h2>Patient Feedback</h2>
                                    </div>
                                    <div class="team__details-content">
                                        <div class="team__feedback">
                                            <div class="testimonial__slider-3 owl-carousel">
                                                <div class="testimonial__item-3">
                                                    <p>Malesuada imperdiet commodo nostra taciti neque arcu in sem a vivamus tempor ac sem convallis ued lamcorper ac enim massa massa porta interdum to nullam nis augue donec leio ut fermentum seneitus eget. Metus lacinia turpis potenti in aliquet ipsum primis and pede volutpat feugiat hymenaeos facilisis erat morbi libero to sociosqu inte dum justo sagittis feugiat facilisis morb. Seas evenings their after one brought morning there place that behold.</p> 
                                                    <div class="testimonial__person testimonial__person-3 d-flex align-items-center">
                                                        <div class="testimonial__avater">
                                                            <img src="assets/img/testimonial/person-1.png" alt="">
                                                        </div>
                                                        <div class="testimonial__info testimonial__info-3">
                                                            <h3>Eleonora Morgan</h3>
                                                            <span>CEO & Founder</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="testimonial__item-3">
                                                    <p>Malesuada imperdiet commodo nostra taciti neque arcu in sem a vivamus tempor ac sem convallis ued lamcorper ac enim massa massa porta interdum to nullam nis augue donec leio ut fermentum seneitus eget. Metus lacinia turpis potenti in aliquet ipsum primis and pede volutpat feugiat hymenaeos facilisis erat morbi libero to sociosqu inte dum justo sagittis feugiat facilisis morb. Seas evenings their after one brought morning there place that behold.</p> 
                                                    <div class="testimonial__person testimonial__person-3 d-flex align-items-center">
                                                        <div class="testimonial__avater">
                                                            <img src="assets/img/testimonial/person-2.png" alt="">
                                                        </div>
                                                        <div class="testimonial__info testimonial__info-3">
                                                            <h3>Jeso Smith</h3>
                                                            <span>CEO & Founder</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="testimonial__item-3">
                                                    <p>Malesuada imperdiet commodo nostra taciti neque arcu in sem a vivamus tempor ac sem convallis ued lamcorper ac enim massa massa porta interdum to nullam nis augue donec leio ut fermentum seneitus eget. Metus lacinia turpis potenti in aliquet ipsum primis and pede volutpat feugiat hymenaeos facilisis erat morbi libero to sociosqu inte dum justo sagittis feugiat facilisis morb. Seas evenings their after one brought morning there place that behold.</p> 
                                                    <div class="testimonial__person testimonial__person-3 d-flex align-items-center">
                                                        <div class="testimonial__avater">
                                                            <img src="assets/img/testimonial/person-3.png" alt="">
                                                        </div>
                                                        <div class="testimonial__info testimonial__info-3">
                                                            <h3>Salim rana</h3>
                                                            <span>CEO & Founder</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team__details-item mb-30">
                                    <div class="team__details-title mb-30">
                                        <h2>My Achievement</h2>
                                    </div>
                                    <div class="team__details-content">
                                        <div class="team__achivement">
                                            <p>Man sea heaven air man have a gathered brings signs land image behold have had fifth was great own so dry from multiply you'll without won all gathering all.</p>
                                            <div class="team__achivement-slider owl-carousel">
                                                <div class="team__achivement-thumb">
                                                    <img src="assets/img/team/achive-1.png" alt="">
                                                </div>
                                                <div class="team__achivement-thumb">
                                                    <img src="assets/img/team/achive-2.png" alt="">
                                                </div>
                                                <div class="team__achivement-thumb">
                                                    <img src="assets/img/team/achive-3.png" alt="">
                                                </div>
                                                <div class="team__achivement-thumb">
                                                    <img src="assets/img/team/achive-4.png" alt="">
                                                </div>
                                                <div class="team__achivement-thumb">
                                                    <img src="assets/img/team/achive-5.png" alt="">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="team__details-item mb-30">
                                    <div class="team__details-title mb-30">
                                        <h2>Emergency Contact</h2>
                                    </div>
                                    <div class="team__details-content">
                                        <div class="team__contact">
                                            <p>Have any emergency problem or frustation, contact with me</p>

                                            <form action="#">
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <textarea cols="30" rows="10" placeholder="Write Your Message"></textarea>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-6">
                                                        <input type="text" placeholder="Your Name">
                                                    </div>
                                                    <div class="col-xl-6">
                                                        <input type="text" placeholder="Your Email">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xl-12">
                                                        <button type="submit" class="s-btn s-btn__square-2">send message</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team details area end -->

        </main>
