{% extends "base.html" %}
{% load static i18n %}

{% block content %}
<section class="newsletter-unsubscribed">
    <div class="newsletter-unsubscribed__container">
        <div class="newsletter-unsubscribed__wrapper">
            <div class="newsletter-unsubscribed__card">
                <div class="newsletter-unsubscribed__body">
                    <i class="ri ri-mail-open-line newsletter-unsubscribed__icon"></i>
                    <h2 class="newsletter-unsubscribed__title">{% trans "You've Been Unsubscribed" %}</h2>
                    <p class="newsletter-unsubscribed__text">
                        {% trans "You have been successfully unsubscribed from our newsletter." %}
                        {% trans "We're sorry to see you go!" %}
                    </p>
                    <p class="newsletter-unsubscribed__note">
                        {% trans "Changed your mind? You can always subscribe again." %}
                    </p>
                    <a href="{% url 'comm:subscribe' %}" class="newsletter-unsubscribed__btn">
                        {% trans "Re-subscribe" %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
