<!-- client area start -->
<div class="client__area-3 pt-20 pb-50">
    <div class="container">
        <div class="row gx-0">
            <div class="col-xl-12">
                <div class="client__slider client__slider-active owl-carousel text-center">
                    {% for client in block.value %}
                    <div class="client__thumb">
                        {% if client.value.link %}
                        <a href="{{ client.value.link }}" target="_blank">
                            <img src="{{ client.value.logo.url }}" alt="client">
                        </a>
                        {% else %}
                        <img src="{{ client.value.logo.url }}" alt="client">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- client area end -->