{% load i18n wagtailimages_tags %}
{# Slider Section with Swiper #}
{% if page.slider %}
<section class="slider vresume-section">
    <div class="slider__container swiper home-slider">
        <div class="swiper-wrapper">
            {% for block in page.slider %}
                {% with s=block.value %}
                <div class="swiper-slide slider__item">
                    {% if s.image %}
                        {% image s.image fill-1200x400 as slide_img %}
                        <img src="{{ slide_img.url }}" alt="{{ s.title }}" class="slider__image">
                    {% endif %}
                    <div class="slider__content">
                        <h3 class="slider__title">{{ s.title }}</h3>
                        <p class="slider__subtitle">{{ s.subtitle }}</p>
                        {% if s.links %}
                        <div class="slider__links">
                            {% for link in s.links %}
                            <a href="{{ link.value.url }}" class="slider__link">
                                {% if link.value.icon %}<i class="{{ link.value.icon }}"></i> {% endif %}
                                {{ link.value.label }}
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% endwith %}
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</section>
{% endif %}
