{% extends "wagtailadmin/home.html" %}
{% load wagtailadmin_tags i18n static %}

{% block content %}
    <div class="container-fluid">
        <div class="row mb-4">
            <div class="col">
                <h1>{% trans "Dashboard" %}</h1>
            </div>
        </div>
        <div class="row">
            {% for panel in panels %}
                <div class="col-md-6 col-xl-4 mb-4">
                    {{ panel.render_html }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block branding_welcome %}
    Welcome to **{{ settings.SITE_NAME }}** CMS
{% endblock %}

{% block homepage_content %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Custom Section</h3>
        </div>
        <div class="panel-body">
            <p>This is a custom message added to the dashboard.</p>
        </div>
    </div>
    {{ block.super }}
{% endblock %}


continue pending tasks and up-to-date xellent repo and demo remove all docs project at all repo and make only centralized one at site and on grep without docs project just md files for describe the repo and the powerful package
and confirm the documentations
also confirm the urls or cart and its data var and the enrollments courses is could be enrollment with saving user and document the user data object tree and its details and validate the fields on the template if there any template has dummy data and after that confirm there any template has leakage on implemented the missed fields
