{% load wagtailcore_tags wagtailimages_tags %}

<div class="section border-top border-bottom">
    <div class="container">
        {% if block.value.title %}
            <div class="text-center mb-5">
                <h2 class="fw-normal">{{ block.value.title }}</h2>
            </div>
        {% endif %}

        <div class="owl-carousel mrt-80"
             data-owl-margin="30"
             data-owl-xs="1"
             data-owl-sm="1"
             data-owl-md="1"
             data-owl-lg="2"
             data-owl-xl="2"
             data-owl-nav="false">

            {% for testimonial in block.value.testimonials %}
                <div class="border-radius border p-4">
                    <div class="d-flex align-items-center mb-3">
                        {% if testimonial.value.client_photo %}
                            {% image testimonial.value.client_photo fill-100x100 as client_img %}
                            <div class="d-inline-block me-3">
                                <img class="img-mask-avatar-sm" src="{{ client_img.url }}" alt="{{ testimonial.value.client_name }}">
                            </div>
                        {% endif %}

                        <div class="d-inline-block">
                            <h5 class="fw-normal m-0 line-height-140">
                                {{ testimonial.value.client_name }}
                            </h5>
                            {% if testimonial.value.client_position %}
                                <span class="font-small fw-normal">
                                    {{ testimonial.value.client_position }}
                                </span>
                            {% endif %}
                        </div>
                    </div>

                    <p class="mb-0">
                        {{ testimonial.value.content|richtext }}
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
