<!-- contact map area start -->
<section class="contact__map-area mt--120">
    <div class="container-fluid p-0">
        <div class="row gx-0">
            <div class="col-xl-12">
                <div class="contact__map">
                    <iframe src="{{ page.map_section.map_embed_url }}" 
                            style="width: 100%; height: {{ page.map_section.map_height }}; border: 0;" 
                            allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- contact map area end -->
 